**Practice Session 1**

In [49]:
import YData



#### Download Practice 1 Jupyter Notebook #### 
#YData.download_practice_code(1)             Without Answers 
#YData.download_practice_code(1, True)       With Answers (won't work until Friday eve)



#### Download Data ####
YData.download_data("book_mark_twain.txt")
YData.download_data("jpmorgan_global_equity.pdf")

The next few cells contain some of the important functions/methods related to ints/floats, Lists,
and String.

### Some global functions

type(x)             # returns the data type held in x.

### Numbers (Integers and Floats)

# Some important functions. 

abs()               # computes absolute value of a number. 
min(x,y,....,z)     # computes the minimum of numbers x through z. 
max(x,y,....,z)     # computes the maximum of numbers x through z. 
round(x,n)          # rounds the number x to n decimal places. 
int(x)              # returns integer part of the number x. 
float(x)            # converts the number x into a float.

### Lists

# Some important functions, methods, and operations. In what follows, we suppose
# that Z and W are two lists and m, n, k are integers. 

Z[n], Z[m:n], Z[m:], Z[:n], Z[m:n:k], etc.   # for slicing, replacing, and extracting various 
                                             # elements of the list Z.

len(Z)                                       # for counting the number of elements in the list Z.

Z.count(x)                                   # for counting the number of times element x appears
                                             # in the list Z.

Z + W, Z * n                                 # for concatenating and replicating. 

sum(), max(), min(), etc.                    # make sure the list contains all numbers before using these. 

Z.append(x)                                  # for adding element x at the end of the list Z.

Z.index(x)                                   # will return the index of the element x in the list Z. 

Z.sort()                                     # will sort the entries of the original list Z (thereby modifying  
                                             # the original list Z)


Z_copy = Z.copy()                            # will create of replica of the original list Z and
                                             # store it under the name Z_copy. 

Z_sorted = sorted(Z)                         # will sort the entries of the list Z 
                                             # return a new list called Z_sorted.

### Strings

# Some important functions, methods, and operations. 
# In what follows, we suppose that a and b are strings, and Z is a list.  

a + b, a * 2                 # for concatenating and replicating. 
int(), float(), and str()    # for conversions from one data type to another. 
len(a)                       # for counting number of letters (characters) held in the string a. 



# Changing capitalization. (a is some arbitrary/placeholder string.)

a.capitalize()               # Converts the first character to upper case.
a.lower()                    # Converts a string into lower case.
a.upper()                    # Converts a string into upper case.
a.title()                    # Converts the first character of each word to upper case.
a.swapcase()                 # Swaps cases, lower case becomes upper case and vice versa.



# Splitting and joining strings. (a is some arbitrary/placeholder string.)

a.split(separator_string)    # Splits the string at the specified separator, and returns a list.
a.splitlines()               # Splits the string at line breaks (\n) and returns a list.
"".join(Z)                   # Converts the elements of the list Z into a string (joined by spaces). 



# Finding and replacing substrings. (a is some arbitrary/placeholder string.)

a.count(substring)           # Returns the number of times a specified substring occurs in the string a.
a.replace(old_str, new_str)  # Replaces a substring with a different substring. 
a.startswith(substring)      # Returns true if the string starts with the specified value.
a.endswith(substring)        # Returns true if the string ends with the specified value.



# Checking string properties. (a is some arbitrary/placeholder string.)

a.isalnum()                  # Returns True if all characters in the string are alphanumeric.
a.isalpha()                  # Returns True if all characters in the string are in the alphabet.
a.isnumeric()                # Returns True if all characters in the string are numeric.

a.isspace()                  # Returns True if all characters in the string are whitespaces.

a.islower()                  # Returns True if all characters in the string are lower case.
a.isupper()                  # Returns True if all characters in the string are upper case.
a.istitle()                  # Returns True if the string follows the rules of a title.



# String trimming and padding. (a is some arbitrary/placeholder string.)

a.strip()                    # Returns a trimmed version of the string with no leading or trailing white space. 
a.center(k)                  # Returns a centered string with equal padding on both sides 
                             # so that the total length of the new string is k. 
a.zfill(k)                   # Fills the string with a specified number of 0 values at the beginning.



# f string. (a is some arbitrary/placeholder string.)
# The following will fill in "a" into the string.

value_to_fill = "a"
f"my string {value_to_fill} will be filled in."

<br>
<br>
<br>
<br>
<br>
<br>

***Please complete this notebook by filling in the cells provided.***

# 1. Names, Assignment Statements, and Error Messages

Question 1.1: What is wrong with the following code?

In [24]:
x = ydata 123

SyntaxError: invalid syntax (3086352036.py, line 1)

Answer 1.1: ....

Question 1.2: What is wrong with the following code?

In [25]:
u = x * q

NameError: name 'x' is not defined

Answer 1.2: ....

Question 1.3: What is wrong with the following code?

In [26]:
abs("hello")

TypeError: bad operand type for abs(): 'str'

Answer 1.3: ....

Question 1.4: Write one line code to check if 4.1 is an int or a float.

Question 1.5: Round 4.1 to the nearest integer and store your answer as `x`.

Question 1.6: Write one line code to check if `x` from the previous step is a float or an int.

# 2. Basic Statistics

Let us try to compute (estimate) the volume of Earth. 
You may use the following data:
- The equatorial radius of Earth is 3963.2 miles.
- The polar radius of Earth is 3949.9 miles.

Also, recall volume `V` is given by the formula $ V = \frac{4}{3} \pi r^3 $ where $r$ is the radius. 



Data source: https://sciencing.com/what-volume-earth-4689019.html

Question 2.1: Let us first compute the average radius and store our answer as `r`.

Question 2.2: Now compute volume using the formula above and save your answer as `V`. (you may use $ \pi = 3.14 $)

Question 2.3: Round your answer to two decimal places.

# 3. Lists

One of the most widely use data structures in Python is the list. As we discussed in class, lists can hold any type of item, and we can use square brackets `[]` to create, set, and extract elements from lists.

Question 3.1: Create a list called `ivy` consisting of 8 items (strings) in the order specified here: Dartmouth, Harvard, Brown, Yale, Columbia, Cornell, UPenn, and Princeton.

Question 3.2: Write code to print the list and count the number of objects it contains.

Question 3.3: Write one line code to extract the third item in the list.

Question 3.4: Write one line code to extract all the items from Harvard through UPenn.

Question 3.5: Write a one line code to extract all the items but the last item in the list.

Question 3.6: Write a one line code to extract all the items starting from Brown.

Question 3.7: Write a one line code to replace the string 'Dartmouth' with 'MIT' in the list. Then print out the modified list.

Question 3.8: Write a one line to add Dartmouth back to the list.

Question 3.9: Wtie a one line code to add Yale at the end of the list.

Question 3.10: Write a one line code to count the number of times Yale appears in the above list.

# 4. Strings

As discussed during the lecture, text in Python is held in character strings. Let's explore some of the basics of manipulating character strings by looking at the book "What is Man? And Other Stories" which was written by Mark Twain.

In [27]:
file = open('book_mark_twain.txt', 'r', encoding="utf8")
mtbook_data = file.read()

Question 4.1: What is the type of data in mtbook_data?

Question 4.2: Write a code to extract first 10 characters(letters) in the book.

Question 4.3: Write a code to extract first 100 characters (letters) in the book.

Question 4.4: Write a one line code to make first 100 characters lower case.

##### Let's now examine how many times the symbol "?" appears in the book?. To do this, let's count how many times the substring "?" occurs in the book. In particular, we can use the `my_string.count(my_substring`) method where:
- `my_string`: refers to the longer piece of text we want to search through.
- `count()` is the name of the method we are using to count how many times my_substring occurs.
- `my_substring` is the string we are searching for and counting in the longer piece of text given by my_string.

Question 4.5: Write a code to count the number of times the string "?" appears in the book.

Question 4.6: Write a one line code to count the number of new lines.

Question 4.7: Write one line code to count the number of times the string "man" appears.

Question 4.8: Now let us split the book up into a list named `bins_of_man`, where first item of the list consists of the text upto first occurance of "man", the second item consists of the text upto second occurance of "man", and so on.

Hint: the `my_string.split(my_substring)` could be useful here.

Question 4.9: Write a one line code to check that `bins_of_man` is indeed a list.

Question 4.10: Write a one line code to count the number of items in the list.

Question 4.11: Write a one line code to extract the first item in the above list.

Question 4.12: Write a one line code to extract the first three items in the above list.

Question 4.13: Let us now extract all the text in the first entry of the list and store it as bin_1.

Question 4.14: Write one line code that removes the string "Man" from the first 100 characters (letters) of the text and replaces it with the string "Monkey". Store this as`nfirst_100`.

Question 4.15: What this does? `first_100[::2]`

Question 4.16: Write a code to extract characters (letters) 1 through 5 from the 10th item of the list `bins_of_man` and store it as `sentence`.

<br>
<br>

# 5. Take Home Exercise: ***Sentiment Analysis***

Let us now apply string methods to solve a real life problem. In particular, we will next use string
methods to guess/estimate ***"financial market sentiment"***. Financial Market Sentiment Analysis is a very popular (and important) technique to predict market movements (up or down) for various investors and traders.

Let us predict Equity markets sentiment based on the latest third quarter "Global Equity Views" by
J.P. Morgan Assest Management <https://am.jpmorgan.com/us/en/asset-management/adv/insights/portfolio-insights/asset-class-views/equity/>.

Please run the cells below. It will convert the pdf data (J.P. Morgan's `Global Equity Views` report) to a Python string named `pdf_string`.

In [39]:
pip install pypdf

Requirement already satisfied: pypdf in /nfs/roberts/project/ydata1230f/shared/conda_envs/ydata1230_env/lib/python3.13/site-packages (6.0.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:

import pypdf

# Define coverter function
def pdf_to_string(pdf_path):
    text = ""
    with open(pdf_path, 'rb') as file:
        reader = pypdf.PdfReader(file)
        for page in reader.pages:
            text += page.extract_text()
    return text

# Use function 
pdf_string = pdf_to_string("jpmorgan_global_equity.pdf")

In [42]:
# Check the type of pdf_string and print first 100 characters

**Step 1. The first step in sentiment analysis (based on text data) is to define "positive" and "negative" keywords.**

In [43]:
# Construct two lists namely "positive_words" and "negative_words" containing postive 
# and negative words respectively in the context of financial markets. 

# add more positive words....
positive_words = ["up", "bullish", "great", "high"]

# add more negative words....
negative_words = ["low", "bearish", "flop", "low"]

**Step 2. Let us now count how many times these positive and negative words show up in the J.P. Morgan report. Save your counts as `positive_score` and `negative_score`.**

In [44]:


# Convert text to lowercase for case-insensitive matching
text_lower = pdf_string.lower()


# Count positive sentiment 
positive_score = text_lower.count("up") + \
                 text_lower.count("bullish") + \
                 text_lower.count("great") + \
                 text_lower.count("high") 
                 

# Count negative sentiment
negative_score = text_lower.count("low") + \
                 text_lower.count("bearish") + \
                 text_lower.count("flop") + \
                 text_lower.count("low")

**Step 3. Compute Sentiment Score where sentiment score is defined as `sentiment_score = positive_score - negative_score`.**

In [47]:
# Compute Sentiment Score

**Step 4. Predict Sentiment**

- If `sentiment_score > 0`, then predicted sentiment is positive.
- If `sentiment_score > 0`, then predicted sentiment is negative.
- If `sentiment_score = 0`, then predicted sentiment is neutral.

In [48]:
# Print sentiment score


# Print sentiment prediction based on the score above

**Open Question: Based on your Sentiment Prediction above, will you invest money in the Equity markets 
in the near future? Justify your answer below in 2 or 3 lines.** 

.....

***Note: Later in the semester, we will come back to this topic of Sentiment Analysis and learn how to predict sentiment based on multiple documents and sources (news, twitter feed, SEC filings, etc.). In particular, we will need to learn how to write our own functions/for loops in Python.***