**Practice Session 1**

In [1]:
import YData



#### Download Practice 1 Jupyter Notebook #### 
#YData.download_practice_code(1)             Without Answers 
#YData.download_practice_code(1, True)       With Answers (won't work until Friday eve)



#### Download Data ####
YData.download_data("book_mark_twain.txt")
YData.download_data("jpmorgan_global_equity.pdf")

The next few cells contain some of the important functions/methods related to ints/floats, Lists,
and String.

### Some global functions

In [ ]:
type(x)             # returns the data type held in x.

### Numbers (Integers and Floats)

In [ ]:
# Some important functions. 

abs()               # computes absolute value of a number. 
min(x,y,....,z)     # computes the minimum of numbers x through z. 
max(x,y,....,z)     # computes the maximum of numbers x through z. 
round(x,n)          # rounds the number x to n decimal places. 
int(x)              # returns integer part of the number x. 
float(x)            # converts the number x into a float.

### Lists

In [ ]:
# Some important functions, methods, and operations. In what follows, we suppose
# that Z and W are two lists and m, n, k are integers. 

Z[n], Z[m:n], Z[m:], Z[:n], Z[m:n:k], etc.   # for slicing, replacing, and extracting various 
                                             # elements of the list Z.

len(Z)                                       # for counting the number of elements in the list Z.

Z.count(x)                                   # for counting the number of times element x appears
                                             # in the list Z.

Z + W, Z * n                                 # for concatenating and replicating. 

sum(), max(), min(), etc.                    # make sure the list contains all numbers before using these. 

Z.append(x)                                  # for adding element x at the end of the list Z.

Z.index(x)                                   # will return the index of the element x in the list Z. 

Z.sort()                                     # will sort the entries of the original list Z (thereby modifying  
                                             # the original list Z)


Z_copy = Z.copy()                            # will create of replica of the original list Z and
                                             # store it under the name Z_copy. 

Z_sorted = sorted(Z)                         # will sort the entries of the list Z 
                                             # return a new list called Z_sorted.

### Strings

In [ ]:
# Some important functions, methods, and operations. 
# In what follows, we suppose that a and b are strings, and Z is a list.  

a + b, a * 2                 # for concatenating and replicating. 
int(), float(), and str()    # for conversions from one data type to another. 
len(a)                       # for counting number of letters (characters) held in the string a. 



# Changing capitalization. (a is some arbitrary/placeholder string.)

a.capitalize()               # Converts the first character to upper case.
a.lower()                    # Converts a string into lower case.
a.upper()                    # Converts a string into upper case.
a.title()                    # Converts the first character of each word to upper case.
a.swapcase()                 # Swaps cases, lower case becomes upper case and vice versa.



# Splitting and joining strings. (a is some arbitrary/placeholder string.)

a.split(separator_string)    # Splits the string at the specified separator, and returns a list.
a.splitlines()               # Splits the string at line breaks (\n) and returns a list.
"".join(Z)                   # Converts the elements of the list Z into a string (joined by spaces). 



# Finding and replacing substrings. (a is some arbitrary/placeholder string.)

a.count(substring)           # Returns the number of times a specified substring occurs in the string a.
a.replace(old_str, new_str)  # Replaces a substring with a different substring. 
a.startswith(substring)      # Returns true if the string starts with the specified value.
a.endswith(substring)        # Returns true if the string ends with the specified value.



# Checking string properties. (a is some arbitrary/placeholder string.)

a.isalnum()                  # Returns True if all characters in the string are alphanumeric.
a.isalpha()                  # Returns True if all characters in the string are in the alphabet.
a.isnumeric()                # Returns True if all characters in the string are numeric.

a.isspace()                  # Returns True if all characters in the string are whitespaces.

a.islower()                  # Returns True if all characters in the string are lower case.
a.isupper()                  # Returns True if all characters in the string are upper case.
a.istitle()                  # Returns True if the string follows the rules of a title.



# String trimming and padding. (a is some arbitrary/placeholder string.)

a.strip()                    # Returns a trimmed version of the string with no leading or trailing white space. 
a.center(k)                  # Returns a centered string with equal padding on both sides 
                             # so that the total length of the new string is k. 
a.zfill(k)                   # Fills the string with a specified number of 0 values at the beginning.



# f string. (a is some arbitrary/placeholder string.)
# The following will fill in "a" into the string.

value_to_fill = "a"
f"my string {value_to_fill} will be filled in."

<br>
<br>
<br>
<br>
<br>
<br>

***Please complete this notebook by filling in the cells provided.***

# 1. Names, Assignment Statements, and Error Messages

Question 1.1: What is wrong with the following code?

In [24]:
x = ydata 123

SyntaxError: invalid syntax (3086352036.py, line 1)

Answer 1.1: If we mean to define x to be the string "ydata 123", then the code is missing these inverted commas.

Question 1.2: What is wrong with the following code?

In [25]:
u = x * q

NameError: name 'x' is not defined

Answer 1.2: q is not defined.

Question 1.3: What is wrong with the following code?

In [26]:
abs("hello")

TypeError: bad operand type for abs(): 'str'

Answer 1.3: The function `abs` takes numbers as inputs. "hello" is a string.

Question 1.4: Write one line code to check if 4.1 is an int or a float.

In [2]:
type(4.1)

float

Question 1.5: Round 4.1 to the nearest integer and store your answer as `x`.

In [3]:
x = round(4.1)
x

4

Question 1.6: Write one line code to check if `x` from the previous step is a float or an int.

In [4]:
type(x)

int

# 2. Basic Statistics

Let us try to compute (estimate) the volume of Earth. 
You may use the following data:
- The equatorial radius of Earth is 3963.2 miles.
- The polar radius of Earth is 3949.9 miles.

Also, recall volume `V` is given by the formula $ V = \frac{4}{3} \pi r^3 $ where $r$ is the radius. 



Data source: https://sciencing.com/what-volume-earth-4689019.html

Question 2.1: Let us first compute the average radius and store our answer as `r`.

In [5]:
r = (3963.2 + 3949.9)/2

Question 2.2: Now compute volume using the formula above and save your answer as `V`. (you may use $ \pi = 3.14 $)

In [6]:
V = (4/3) * (3.14) * (r ** 3)
V

259309459458.6643

Question 2.3: Round your answer to two decimal places.

In [7]:
round(V,2)

259309459458.66

# 3. Lists

One of the most widely use data structures in Python is the list. As we discussed in class, lists can hold any type of item, and we can use square brackets `[]` to create, set, and extract elements from lists.

Question 3.1: Create a list called `ivy` consisting of 8 items (strings) in the order specified here: Dartmouth, Harvard, Brown, Yale, Columbia, Cornell, UPenn, and Princeton.

In [8]:
ivy = ["Dartmouth", "Harvard", "Brown", "Yale", "Columbia", "Cornell", "UPenn", "Princeton"]

Question 3.2: Write code to print the list and count the number of objects it contains.

In [9]:
print(ivy)

['Dartmouth', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton']

In [10]:
len(ivy)

8

Question 3.3: Write one line code to extract the third item in the list.

In [11]:
ivy[2]

'Brown'

Question 3.4: Write one line code to extract all the items from Harvard through UPenn.

In [12]:
ivy[1:7]

['Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn']

Question 3.5: Write a one line code to extract all the items but the last item in the list.

In [13]:
ivy[:7]

['Dartmouth', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn']

Question 3.6: Write a one line code to extract all the items starting from Brown.

In [14]:
ivy[2:]

['Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton']

Question 3.7: Write a one line code to replace the string 'Dartmouth' with 'MIT' in the list. Then print out the modified list.

In [15]:
ivy[0] = "MIT"

In [16]:
print(ivy)

['MIT', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton']

Question 3.8: Write a one line to add Dartmouth back to the list.

In [18]:
ivy.append("Dartmouth")

In [19]:
print(ivy)

['MIT', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton', 'Dartmouth']

Question 3.9: Wtie a one line code to add Yale at the end of the list.

In [20]:
ivy.append("Yale")

In [21]:
print(ivy)

['MIT', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton', 'Dartmouth', 'Yale']

Question 3.10: Write a one line code to count the number of times Yale appears in the above list.

In [22]:
ivy.count("Yale")

2

# 4. Strings

As discussed during the lecture, text in Python is held in character strings. Let's explore some of the basics of manipulating character strings by looking at the book "What is Man? And Other Stories" which was written by Mark Twain.

In [23]:
file = open('book_mark_twain.txt', 'r', encoding="utf8")
mtbook_data = file.read()

Question 4.1: What is the type of data in mtbook_data?

In [24]:
type(mtbook_data)

str

Question 4.2: Write a code to extract first 10 characters(letters) in the book.

In [25]:
mtbook_data[0:10]

'\n\nTitle: W'

Question 4.3: Write a code to extract first 100 characters (letters) in the book.

In [26]:
first_100 = mtbook_data[0:100]
first_100

'\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 19'

Question 4.4: Write a one line code to make first 100 characters lower case.

In [27]:
first_100.lower()

'\n\ntitle: what is man? and other stories\n\nauthor: mark twain (samuel clemens)\n\nrelease date: june, 19'

##### Let's now examine how many times the symbol "?" appears in the book?. To do this, let's count how many times the substring "?" occurs in the book. In particular, we can use the `my_string.count(my_substring`) method where:
- `my_string`: refers to the longer piece of text we want to search through.
- `count()` is the name of the method we are using to count how many times my_substring occurs.
- `my_substring` is the string we are searching for and counting in the longer piece of text given by my_string.

Question 4.5: Write a code to count the number of times the string "?" appears in the book.

In [28]:
mtbook_data.count("?")

577

Question 4.6: Write a one line code to count the number of new lines.

In [29]:
mtbook_data.count("\n")

10649

Question 4.7: Write one line code to count the number of times the string "man" appears.

In [30]:
mtbook_data.count("man")

679

Question 4.8: Now let us split the book up into a list named `bins_of_man`, where first item of the list consists of the text upto first occurance of "man", the second item consists of the text upto second occurance of "man", and so on.

Hint: the `my_string.split(my_substring)` could be useful here.

In [31]:
bins_of_man = mtbook_data.split("man")

Question 4.9: Write a one line code to check that `bins_of_man` is indeed a list.

In [32]:
type(bins_of_man)

list

Question 4.10: Write a one line code to count the number of items in the list.

In [33]:
len(bins_of_man)

680

Question 4.11: Write a one line code to extract the first item in the above list.

In [34]:
bins_of_man[0]

'\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 1993 [eBook #70]\n[Most recently updated: May 26, 2022]\n\nLanguage: English\n\n\nProduced by: An Anonymous Volunteer and David Widger\n\n*** START OF THE PROJECT GUTENBERG EBOOK WHAT IS MAN? AND OTHER STORIES ***\n\n\n\n\nWHAT IS MAN?\nAND OTHER ESSAYS\n\nBy Mark Twain\n\n(Samuel Langhorne Clemens, 1835-1910)\n\n\nCONTENTS\n\n WHAT IS MAN?\n THE DEATH OF JEAN\n THE TURNING-POINT OF MY LIFE\n HOW TO MAKE HISTORY DATES STICK\n THE MEMORABLE ASSASSINATION\n A SCRAP OF CURIOUS HISTORY\n SWITZERLAND, THE CRADLE OF LIBERTY\n AT THE SHRINE OF ST. WAGNER\n WILLIAM DEAN HOWELLS\n ENGLISH AS SHE IS TAUGHT\n A SIMPLIFIED ALPHABET\n AS CONCERNS INTERPRETING THE DEITY\n CONCERNING TOBACCO\n THE BEE\n TAMING THE BICYCLE\n IS SHAKESPEARE DEAD?\n\n\n\n\n\nWHAT IS MAN?\n\nI\n\na. Man the Machine. b. Personal Merit\n\n[The Old Man and the Young Man had been conversing. The Old Man had\nasserted that the hu'

Question 4.12: Write a one line code to extract the first three items in the above list.

In [35]:
bins_of_man[0:3]

['\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 1993 [eBook #70]\n[Most recently updated: May 26, 2022]\n\nLanguage: English\n\n\nProduced by: An Anonymous Volunteer and David Widger\n\n*** START OF THE PROJECT GUTENBERG EBOOK WHAT IS MAN? AND OTHER STORIES ***\n\n\n\n\nWHAT IS MAN?\nAND OTHER ESSAYS\n\nBy Mark Twain\n\n(Samuel Langhorne Clemens, 1835-1910)\n\n\nCONTENTS\n\n WHAT IS MAN?\n THE DEATH OF JEAN\n THE TURNING-POINT OF MY LIFE\n HOW TO MAKE HISTORY DATES STICK\n THE MEMORABLE ASSASSINATION\n A SCRAP OF CURIOUS HISTORY\n SWITZERLAND, THE CRADLE OF LIBERTY\n AT THE SHRINE OF ST. WAGNER\n WILLIAM DEAN HOWELLS\n ENGLISH AS SHE IS TAUGHT\n A SIMPLIFIED ALPHABET\n AS CONCERNS INTERPRETING THE DEITY\n CONCERNING TOBACCO\n THE BEE\n TAMING THE BICYCLE\n IS SHAKESPEARE DEAD?\n\n\n\n\n\nWHAT IS MAN?\n\nI\n\na. Man the Machine. b. Personal Merit\n\n[The Old Man and the Young Man had been conversing. The Old Man had\nasserted that the hu',
 ' being is merely a machine, and nothing more.\nThe Young Man objected, and asked him to go into particulars and\nfurnish his reasons for his position.]\n\nOld Man. What are the materials of which a steam-engine is made?\n\nYoung Man. Iron, steel, brass, white-metal, and so on.\n\nO.M. Where are these found?\n\nY.M. In the rocks.\n\nO.M. In a pure state?\n\nY.M. No—in ores.\n\nO.M. Are the metals suddenly deposited in the ores?\n\nY.M. No—it is the patient work of countless ages.\n\nO.M. You could make the engine out of the rocks themselves?\n\nY.M. Yes, a brittle one and not valuable.\n\nO.M. You would not require much, of such an engine as that?\n\nY.M. No—substantially nothing.\n\nO.M. To make a fine and capable engine, how would you proceed?\n\nY.M. Drive tunnels and shafts into the hills; blast out the iron ore;\ncrush it, smelt it, reduce it to pig-iron; put some of it through the\nBessemer process and make steel of it. Mine and treat and combine\nseveral metals of which brass is made.\n\nO.M. Then?\n\nY.M. Out of the perfected result, build the fine engine.\n\nO.M. You would require much of this one?\n\nY.M. Oh, indeed yes.\n\nO.M. It could drive lathes, drills, planers, punches, polishers, in a\nword all the cunning machines of a great factory?\n\nY.M. It could.\n\nO.M. What could the stone engine do?\n\nY.M. Drive a sewing-machine, possibly—nothing more, perhaps.\n\nO.M. Men would admire the other engine and rapturously praise it?\n\nY.M. Yes.\n\nO.M. But not the stone one?\n\nY.M. No.\n\nO.M. The merits of the metal machine would be far above those of the\nstone one?\n\nY.M. Of course.\n\nO.M. Personal merits?\n\nY.M. _Personal_ merits? How do you mean?\n\nO.M. It would be personally entitled to the credit of its own\nperfor',
 'ce?\n\nY.M. The engine? Certainly not.\n\nO.M. Why not?\n\nY.M. Because its perfor']

Question 4.13: Let us now extract all the text in the first entry of the list and store it as bin_1.

In [36]:
bin_1 = bins_of_man[0]
bin_1

'\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 1993 [eBook #70]\n[Most recently updated: May 26, 2022]\n\nLanguage: English\n\n\nProduced by: An Anonymous Volunteer and David Widger\n\n*** START OF THE PROJECT GUTENBERG EBOOK WHAT IS MAN? AND OTHER STORIES ***\n\n\n\n\nWHAT IS MAN?\nAND OTHER ESSAYS\n\nBy Mark Twain\n\n(Samuel Langhorne Clemens, 1835-1910)\n\n\nCONTENTS\n\n WHAT IS MAN?\n THE DEATH OF JEAN\n THE TURNING-POINT OF MY LIFE\n HOW TO MAKE HISTORY DATES STICK\n THE MEMORABLE ASSASSINATION\n A SCRAP OF CURIOUS HISTORY\n SWITZERLAND, THE CRADLE OF LIBERTY\n AT THE SHRINE OF ST. WAGNER\n WILLIAM DEAN HOWELLS\n ENGLISH AS SHE IS TAUGHT\n A SIMPLIFIED ALPHABET\n AS CONCERNS INTERPRETING THE DEITY\n CONCERNING TOBACCO\n THE BEE\n TAMING THE BICYCLE\n IS SHAKESPEARE DEAD?\n\n\n\n\n\nWHAT IS MAN?\n\nI\n\na. Man the Machine. b. Personal Merit\n\n[The Old Man and the Young Man had been conversing. The Old Man had\nasserted that the hu'

Question 4.14: Write one line code that removes the string "Man" from the first 100 characters (letters) of the text and replaces it with the string "Monkey". Store this as`nfirst_100`.

In [37]:
first_100

'\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 19'

In [38]:
nfirst_100 = first_100.replace("Man", "Monkey")
nfirst_100

'\n\nTitle: What Is Monkey? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 19'

Question 4.15: What this does? `first_100[::2]`

In [40]:
first_100[::2]

'\nTte htI a?AdOhrSois\nuhr akTan(aulCees\nRlaeDt:Jn,1'

Question 4.16: Write a code to extract characters (letters) 1 through 5 from the 10th item of the list `bins_of_man` and store it as `sentence`.

In [41]:
sentence = bins_of_man[9][0:5]
sentence

' the '

<br>
<br>

# 5. Take Home Exercise: ***Sentiment Analysis***

Let us now apply string methods to solve a real life problem. In particular, we will next use string
methods to guess/estimate ***"financial market sentiment"***. Financial Market Sentiment Analysis is a very popular (and important) technique to predict market movements (up or down) for various investors and traders.

Let us predict Equity markets sentiment based on the latest third quarter "Global Equity Views" by
J.P. Morgan Assest Management <https://am.jpmorgan.com/us/en/asset-management/adv/insights/portfolio-insights/asset-class-views/equity/>.

Please run the cells below. It will convert the pdf data (J.P. Morgan's `Global Equity Views` report) to a Python string named `pdf_string`.

In [42]:
pip install pypdf

Requirement already satisfied: pypdf in /nfs/roberts/project/ydata1230f/shared/conda_envs/ydata1230_env/lib/python3.13/site-packages (6.0.0)
Note: you may need to restart the kernel to use updated packages.

In [43]:

import pypdf

# Define coverter function
def pdf_to_string(pdf_path):
    text = ""
    with open(pdf_path, 'rb') as file:
        reader = pypdf.PdfReader(file)
        for page in reader.pages:
            text += page.extract_text()
    return text

# Use function 
pdf_string = pdf_to_string("jpmorgan_global_equity.pdf")

In [45]:
# Check the type of pdf_string and print first 100 characters 

print(type(pdf_string))
print(pdf_string[0:100])

<class 'str'>
Asset Class Views
Global Equity Views 3Q 2025
In brief
Since our last Global Equity Investors Quarte

**Step 1. The first step in sentiment analysis (based on text data) is to define "positive" and "negative" keywords.**

In [46]:
# Construct two lists namely "positive_words" and "negative_words" containing postive 
# and negative words respectively in the context of financial markets. 

# add more positive words....
positive_words = ["up", "bullish", "great", "high"]

# add more negative words....
negative_words = ["low", "bearish", "flop", "low"]

**Step 2. Let us now count how many times these positive and negative words show up in the J.P. Morgan report. Save your counts as `positive_score` and `negative_score`.**

In [47]:


# Convert text to lowercase for case-insensitive matching
text_lower = pdf_string.lower()


# Count positive sentiment 
positive_score = text_lower.count("up") + \
                 text_lower.count("bullish") + \
                 text_lower.count("great") + \
                 text_lower.count("high") 
                 

# Count negative sentiment
negative_score = text_lower.count("low") + \
                 text_lower.count("bearish") + \
                 text_lower.count("flop") + \
                 text_lower.count("low")

**Step 3. Compute Sentiment Score where sentiment score is defined as `sentiment_score = positive_score - negative_score`.**

In [48]:
# Compute Sentiment Score 

sentiment_score = positive_score - negative_score

**Step 4. Predict Sentiment**

- If `sentiment_score > 0`, then predicted sentiment is positive.
- If `sentiment_score < 0`, then predicted sentiment is negative.
- If `sentiment_score = 0`, then predicted sentiment is neutral.

In [50]:
# Print sentiment score

print(sentiment_score)

# Print sentiment prediction based on the score above

print("Predicted Sentiment is Positive")

3
Predicted Sentiment is Positive

**Open Question: Based on your Sentiment Prediction above, will you invest money in the Equity markets 
in the near future? Justify your answer below in 2 or 3 lines.** 

Maybe not. We need a more detailed and thorough sentiment analysis which takes into account mutiple sources (news, SEC filings, etc.) to predict sentiment, among other things. Additionally, Sentiment Analysis is one factor that one might consider before investing/trading. There are more factors such as momentum, market fundamentals, etc. that might play an equally important role in investing/trading decisions.

***Note: Later in the semester, we will come back to this topic of Sentiment Analysis and learn how to predict sentiment based on multiple documents and sources (news, twitter feed, SEC filings, etc.). In particular, we will need to learn how to write our own functions/for loops in Python.***