Welcome to (Preceptor) practice session 6!

In [18]:
import YData 

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 


#YData.download.download_data("States_shapefile.geojson")
#YData.download.download_data("state_demographics.csv")

#YData.download_data("apple_2024.csv")
#YData.download_data("google_2024.csv")

## Choropleth map - Bachelors degreee. 

Let's do a little more practice creating maps by creating a choropleth map of the percentage of people who have bachelors degree in each state. 

Data with the state boundaries and the demographic information are loaded below. Please do the following steps:

1. Join/merge the map data with the demographic data to create a new geoDataFrame called `state_map_demo`.
2. Create a new column in `state_map_demo` called `with_bachelors` that has the percentage of people with bachelors (i.e., we are normalizing our choropleth map).
3. Plot the choropleth showing the percentage with bachelors. Does this map look like you would expect?

In [19]:
import geopandas as gpd

# The state boundaries data
state_map = gpd.read_file("States_shapefile.geojson")
print(state_map.crs)
state_map.head(3)

EPSG:4326

,FID,Program,State_Code,State_Name,Flowing_St,FID_1,geometry
0,1,PERMIT TRACKING,AL,ALABAMA,F,919,"POLYGON ((-85.07007 31.98070, -85.11515 31.907..."
1,2,,AK,ALASKA,N,920,"MULTIPOLYGON (((-161.33379 58.73325, -161.3824..."
2,3,AZURITE,AZ,ARIZONA,F,921,"POLYGON ((-114.52063 33.02771, -114.55909 33.0..."

In [20]:
# The state demographic information 
state_demographics = pd.read_csv("state_demographics.csv")
state_demographics["State"] = state_demographics["State"].apply(str.upper)
state_demographics.head(3)

     State     under_5      over_64  bachelors_degree    total
0  ALABAMA  295811.997   741954.681       1095959.202  4849377
1   ALASKA   54518.168    69252.808        202601.300   736732
2  ARIZONA  430814.976  1070305.956       1810769.196  6731484

In [21]:
# Join/merge the state map with the state demographic data

In [88]:
# Add a new column called "with_bachelors" to "normalize your map"

In [1]:
# Plot the choropleth map

# For Loops in Python.

In [33]:
# Loop over items in a list
a_list = ["first", "second", "third", "forth"]

In [34]:
# Loop over every other item in the list
a_list = ["first", "second", "third", "forth"]

In [35]:
# Loop over mulptiples of 3 (from 0 through 10) using the range() function.

In [36]:
# Can you print every other square of the numbers from 1 to 6?

In [37]:
# Create a list that has square roots of numbers from 1 through 10. 
# hint: the .append() method will be useful

In [38]:
# Sum squares of numbers from 1 to 10.

### The enumerate function.

In [32]:
# We can use enumerate(my_list) to get both values from a list 
# and sequential index numbers

a_list = ["first", "second", "third", "forth"]

for i, curr_val in enumerate(a_list):
    print(str(i)  + " " + curr_val)

0 first
1 second
2 third
3 forth

### The zip function.

In [9]:
# Use the zip function to print the same output as in the cell above.

In [122]:
# Zip example from class. 
list_1 = ["a", "b", "c"]
list_2 = ["x", "y", "z"]

for item1, item2 in zip(list_1, list_2):
    print(item1, item2)

a x
b y
c z

### Exercise 

The code below extracts closing prices of apple and google stocks for the year 2024.

Please use for loops to create a list called `daily_diff` that has the apple closing price - google closing price for each day.

There are a few ways to do this, so see if you can come up with a solution that works. Try to do this without using numpy, and once you have a solution, see if you can get the same result using numpy.

In [123]:
apple = pd.read_csv("apple_2024.csv")
google = pd.read_csv("google_2024.csv")

In [124]:
apple_close = apple["Close"].to_list()
google_close = google["Close"].to_list()

In [ ]:
# First way to solve the problem.

In [10]:


# Start with an empty list
daily_diff = [];


# Use a for loop to add the closing price for each day



# Plot the range of temperatures

In [12]:
# Alternative solution using the zip function...

# Start with an empty list
daily_diff2 = [];


# Use a for loop to add the temperature range for each day




# Plot the range of temperatures

##  Conditional Statements 

Conditional statements allow use to excecute particular pieces of code when certain conditions are met; i.e., they execute a piece of code when a Boolean value is True. 

Let's explore!

In [130]:
# Let us quickly take a look at the following from the class. 

num_semesters = 3

if num_semesters <= 0:
    print('Not a valid input')
elif num_semesters <= 2:
    print('First Year')
elif num_semesters <= 4:
    print('Sophomore')
elif num_semesters <= 6:
    print('Junior')
elif num_semesters <= 8:
    print('Senior')
else:
    print("NA")

Sophomore

In [133]:
# Let us alaos look at a conditional statement in a loop from the class. 

for num_semesters in range(10):
    
    print(num_semesters)

    if num_semesters <= 0:
        print('Not a valid input')
    elif num_semesters <= 2:
        print('First Year')
    elif num_semesters <= 4:
        print('Sophomore')
    elif num_semesters <= 6:
        print('Junior')
    elif num_semesters <= 8:
        print('Senior')
    else:
        print("NA")

0
Not a valid input
1
First Year
2
First Year
3
Sophomore
4
Sophomore
5
Junior
6
Junior
7
Senior
8
Senior
9
NA

## Exercise. 
## Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

Recall `%` symbol in Python is called the Modulo Operator. It returns the remainder of dividing the left hand operand by right hand operand.

In [39]:
# Create an empty list to store numbers that meet the given conditions
new_list = []

# Iterate through numbers from 1500 to 2700 (inclusive)

    
    # Check if the number is divisible by 7 and 5 without any remainder
    
        
          # If the conditions are met, convert the number to a string and append it to the list
        

# Join the numbers in the list with a comma and print the result

## 4. Functions!

We have already used many functions in this class that are built into Python or are imported from different modules/packages. 

Let's now write some new functions outselves!

Write a Python function that squares the input.

In [109]:
# Write a function that doubles a value.

Write a Python function to find the maximum of two numbers.

In [14]:

    # Check if x is greater than y

    # If x is greater, return x

    # If y is greater or equal to x, return y

In [15]:
# Let us check our function.

Write a Python function to find the maximum of two numbers.

In [17]:
# Define a function that returns the maximum of three numbers

    # Call max_of_two function to find the maximum of y and z,
    # then compare it with x to find the overall maximum

In [16]:
# Print the result of calling max_of_three function with arguments 3, 6, and -5