Practice 11

In [ ]:
import YData 



#### Download Practice 11 Jupyter Notebook #### 
#YData.download_practice_code(11)              # Without Answers. 
#YData.download_practice_code(11, True)        # With Answers (won't work before Friday eve.)




#### Download Data ####
YData.download_data("loan_data.csv")




#### Import Packages ####
import statistics
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
from urllib.request import urlopen

import matplotlib.pyplot as plt
%matplotlib inline

# Suppress ConvergenceWarning - please ignore this code 
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

<br>
<br>
<br>

The dataset below comprises 45,000 records of personal and financial data, designed to facilitate the development of predictive models for risk assessment.

In [2]:
loans = pd.read_csv("loan_data.csv")
print(loans.shape)
loans.head(5)

(45000, 14)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

**Codebook:**

- `person_age`: Person's Age.
- `person_gender`: Person's Gender (male or female).
- `person_education`: Person's Education (High School, Bachelor, Master, etc.).
- `person_income`: Person's Annual Income (in USD). 
- `person_emp_exp`: Person's Employment Experience (measured in months; experience less than 1 month is coded as 0).
- `person_home_ownership`:Person's Home Ownership Type (Rent or Own or Mortgage).
- `loan_amnt`: Loan Amount Applied For (in USD).
- `loan_intent`: Reason for Loan application (Personal, Education, etc.).
- `loan_int_rate`: Interest Rate offered (annual).
- `loan_percent_income`: Loan amount applied for as a percentage of Annual Income.
- `cb_person_cred_hist_length`: Credit History length (in Years).
- `credit_score`: Credit Score. 
- `previous_loan_defaults_on_file`: If the person ever defaulted (Yer or No).
- `loan_status`: If the person's loan application was approved (coded as 1) or not (coded as 0).

In [3]:
# Get the features and the labels.

X_loans_features = loans[[
                              'person_age', 
                              'person_income',
                              'person_emp_exp', 
                              'loan_amnt',
                              'loan_int_rate',
                              'loan_percent_income',
                              'cb_person_cred_hist_length',
                              'credit_score'
                             ]]

y_loans_labels = loans['loan_status']

# 1. Unsupervised learning: k-means clustering

We can do k-means clustering in scikit-learn using the `KMeans()` object.

In [2]:
from sklearn.cluster import KMeans

# fit k-means with 2 clusters.

In [3]:
# see which cluster each point belongs to.

In [4]:
# look at a matrix of which loan types (approved or denied) end up in which cluster.

##### **Let us now do clustering with feature normalization.**

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# do clustering with feature normalization (and fit k-means with 2 clusters).

In [6]:
# see which cluster each (normalized) point belongs to.

In [7]:
# look at a matrix of which loan types (denied or approved) end up in which cluster.

# 2. Unsupervised learning: Hierarchical clustering

In [34]:
from sklearn.cluster import AgglomerativeClustering
from scipy.cluster import hierarchy

#  Ward's method adds points to a cluster that minimizes the sum of squared differences 
#  within all clusters
clusters = hierarchy.linkage(X_loans_features[0:10000], method="ward")

In [8]:
# display a dendrogram

In [9]:
# cluster points into 2 clusters 


# get the predicted cluster for each point

In [10]:
# visualize how well the clustering matches the loan types (denied or approved)

# ***Take Home Problem***: Object-oriented programming

[Object-oriented programming (OOP)](https://en.wikipedia.org/wiki/Object-oriented_programming) is a programming paradigm based on the concept of objects, which can contain data and code: data in the form of fields (often known as attributes or properties), and code in the form of procedures (often known as methods). In OOP, computer programs are designed by making them out of objects that interact with one another.

1. Write a Python program to create a Vehicle class with max_speed and mileage instance attributes.

2. Write a Python program to create a class representing a Circle. Include methods to calculate its area and perimeter.

In [13]:
# Import the math module to access mathematical functions like pi
import math

# Define a class called Circle to represent a circle
 class Circle:
    # Initialize the Circle object with a given radius
    
    
    # Calculate and return the area of the circle using the formula: π * r^2
    
    
    # Calculate and return the perimeter (circumference) of the circle using the formula: 2π * r
    

# Example usage
# Prompt the user to input the radius of the circle and convert it to a floating-point number
 radius = float(input("Input the radius of the circle: "))

# Create a Circle object with the provided radius


# Calculate the area of the circle using the calculate_circle_area method


# Calculate the perimeter of the circle using the calculate_circle_perimeter method


# Display the calculated area and perimeter of the circle