# Class 2: The basics of Python

In this notebook we will learn some of the basic syntax of Python. We will use what we learn today throughout the rest of the semester so make sure you are understanding the main ideas, and try to practice more on your own.

## Notes on the class Jupyter setup

If you have the *ydata123_2023e* environment set up correctly, you can get the class code using: 

`import YData`

`YData.download.download_class_code(2)   # get class 2 code`    

`YData.download.download_class_code(2, TRUE) # get the code with the answers`  


There are also similar functions to download the homework:

`YData.download.download_homework(0)  # downloads the test homework` 


If you are using colabs, you must install polars and the YData package using: 

`!pip install polars`

`!pip install https://github.com/emeyers/YData_package/tarball/master`

You should also mount the your google drive using: 

`from google.colab import drive`

`drive.mount('/content/drive')`

You can uncomment the code below to run functions that are useful for the setup you are using.

In [ ]:
# Example code to download the test homework (homework 00)
#import YData
#YData.download.download_homework(0)

# useful code for google drive
# !pip install polars
# !pip install https://github.com/emeyers/YData_package/tarball/master
# from google.colab import drive
# drive.mount('/content/drive')

## Python ##

Let's explore some basic arithmetic operations!

## Names ##

We can assign a value to a `name` which store the value. We can then refer to the name in future operations. 

Let's do the following:
- Assign 10 to the the name `a`
- Assign 6 to the the name `b`
- Assign the sum of `a` and `b` to a name called `total`

### Yearly minimum wage salarly

The minimum wage in Connecticult ias $14 per hour. If someone was working 40 hours a week for all 52 weeks in a year, what would their yearly salary be?  

While we could do the calculation in a single step, let's create some intermediate names to make the calculation more comprehensible. In particular, create the following names as part of intermediate calculations: 

- `hours_per_week`: the number of hours in a work week (40)
- `weeks_per_year`: the number of weeks in a year 
- `total_hours`: the total number of hours in a year
- `ct_hourly_minimum_wage`: minimum wage in Connecticut 
- `total_wages`: total wages earned in a year

## Call expressions ##

Call expression call "functions" to compute values. 

A few example functions are: 
- `abs()`: Takes the absolute value of a number
- `min(x, y, ..., z)`: Takes the minimum value of x, y, ..., z
- `round()`: round a number, potentially to a given number of decimal places

## Numbers ##

Numbers in Python are of two basic types:

* Integers which are whole numbers (e.g., 1, 10, 0, -5, etc.)
* Floating point numbers which are decimal numbers (e.g., 2.0, 3.1415, etc.)

## Strings ##

Strings are how Python represents text. Strings can be created by putting text in either single quotes or in double quotes, but the same type of quote must be used at the start and end of the string. 

* `"This is a string created using double quotes"`
* `'This is a string created using single quotes'`
* `'This is not a correctly formed string because it starts with a single quote and ends with a double quote"`

## Types ##

Which can check what *type* is being stored in a name using the `type()` function.

## Lists 

Lists one "data structure" we can use that can hold multiple values. 

We use the square brackets to create lists; e.g., `my_list = [1, 2, 3]`

We can also access elements using

In [ ]:
# A list of numbers

In [ ]:
# A list of strings

In [ ]:
# Lists can hold elements of different types

In [ ]:
# We can access elements of a list also using square brackets

In [ ]:
# concatenating lists

In [ ]:
# getting the number of elements in a list using the len() function

In [ ]:
# slicing lists

In [ ]:
# start at a different index

In [ ]:
# what does this do?

In [ ]:
# If a list is all numbers we can sum the values, or the maximum value

In [ ]:
# Can't sum values that are not numbers

## Dictionaries

Dictionaries allow us to look up elements. In particular, we provide a "key" and the dictionary return a "value" 

We can create dictionaries using the syntax: 

`my_dict = {"key1": 1, "key2": 20}`

In [ ]:
# we can access elements using square brackets

In [ ]:
# values in dictionaries can be list

In [ ]:
# We can create a dictionary from two lists of the same length using the dict() and zip() functions

# Example: NBA Salaries

Let's look a salaries of basketball players in the NBA! The data we will analyze contains infomraiton about each player including their salary from the 2015-2016 season listed in millions of dollars.  

We will load the data as a "polar's DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists and dictionaries to explore it further. 

This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341

In [ ]:
import polars as pl

nba = pl.read_csv("nba_salaries_2015_16.csv")  # load in the data

nba.head()  # show the first 6 rows

In [ ]:
# get the salaries as a list

salary_list = nba["SALARY"].to_list()
player_list = nba["PLAYER"].to_list()

salary_list[0:5]

In [ ]:
# What is the maximum and minimum salaries?

In [ ]:
# What is the average salary?

In [ ]:
# What was Stephen Curry's salary in 2015-2016 season?

We will learn much easier ways to manipulate structured data tables when we learn how to use the polars package.