# Class 3: The basics of Python continued

In this notebook we will continue learning some of the basic syntax and data structures of Python. We will use what we learn today throughout the rest of the semester so make sure you are understanding the main ideas, and try to practice more on your own.

In [4]:
import YData

# YData.download_class_code(3)   # get class 3 code    
# YData.download_class_code(3, True) # get the code with the answers

In [5]:
# The following function will download the homework
YData.download_homework(1)  # downloads the first homework

In [6]:
## If you are using Google Colabs, you should install the YData packages and mount the your google drive by uncommenting and running the code below.

# !pip install https://github.com/emeyers/YData_package/tarball/master
# from google.colab import drive
# drive.mount('/content/drive')

## Review of the basics of Python

Let's review the basics of Python with a "number journey"...

1. Create a floating point number 3.14159 and assign it to the name `pi_approx`.

2. Multiple `pi_approx` by 2 and assign to the name `pi_approx_2x`

3. Convert `pi_approx` to an integer and assign it in the name `just_an_int`

4. Divide `just_an_int` by -8 and assign it to the name `a_negative_float`

5. Take the absolute value of `a_negative_float` and assign it to the name `a_positive_float` 

6. Convert the `a_positive_float` to a string and assign it to the name `a_string`

7. Multiple `a_string` by 7 and assign the result to the name `a_longer_string`

8. Print out `a_longer_string` to "show your work"

Hint, the following functions could be useful: `int()`, `abs()`, and `str()`

In [1]:
pi_approx = ...

pi_approx_2x = ...

just_an_int = ...

a_negative_float = ...

a_positive_float = ...

a_string = ...

a_longer_string = ...

a_longer_string

Ellipsis

### Any questions???

If so, please ask them now...

## Lists 

Lists one "data structure" we can use that can hold multiple values. 

We use the square brackets to create lists; e.g., `my_list = [1, 2, 3]`

We can also access elements using

In [22]:
# A list of numbers

In [23]:
# A list of strings

In [24]:
# Lists can hold elements of different types

In [25]:
# We can access elements of a list also using square brackets

In [26]:
# We can replace elments of a list as well

In [27]:
# concatenating lists

In [28]:
# getting the number of elements in a list using the len() function

In [29]:
# slicing lists

In [30]:
# start at a different index

In [31]:
# what does this do?

In [32]:
# If a list is all numbers we can sum the values, or the maximum value

In [33]:
# Can't sum values that are not numbers

# Example: NBA Salaries

Let's look a salaries of basketball players in the NBA! The data we will analyze contains infomraiton about each player including their salary from the 2015-2016 season listed in millions of dollars.  

We will load the data as a "pandas DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists and dictionaries to explore it further. 

This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341

In [34]:
import YData as ydata
import pandas as pd

# download the data
nba_file_name = "nba_salaries_2022_23.csv"   # "nba_salaries_2015_16.csv"
YData.download.download_data(nba_file_name)

# load in the data
nba = pd.read_csv(nba_file_name)  

# show the first 6 rows
nba.head()

The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

            PLAYER POSITION           TEAM     SALARY
0  De'Andre Hunter       SF  Atlanta Hawks   9.835881
1    Jalen Johnson       SF  Atlanta Hawks   2.792640
2       AJ Griffin       SF  Atlanta Hawks   3.536160
3    Trent Forrest       SG  Atlanta Hawks   0.508891
4     John Collins       PF  Atlanta Hawks  23.500000

In [35]:
# get the salaries as a list

salary_list = nba["SALARY"].to_list()
player_list = nba["PLAYER"].to_list()

In [36]:
# Who is the first player listed?

In [37]:
# What is the salary of the first 5 players?

In [38]:
# What is the maximum and minimum salaries?

In [39]:
# What is the minimum salary in dollars (rather than millions of dollars)?

In [40]:
# What is the average salary?

## Text manipulation

A large part of Data Scientists' time is spent cleaning data, and a large part of data cleaning consists of manipulating text.

Let's explore some of the functions that are built into Python for manipulating strings of text.

### 1. Changing capitalization

One of the most basic things we can do is to change the capitalization of a piece of text. 

One case where this comes up is when one is merging two DataFrames that have the same key values but the values have different capitalization. For example, one might have two DataFrames that have a column that has the names of different countries, but in one DataFrame the country names are capitalized and in the other they are not. 

Python strings have a number of methods to change the capitalization of words including: 

- `capitalize()`: Converts the first character to upper case
- `lower()`: Converts a string into lower case
- `upper()`: Converts a string into upper case
- `title()`: Converts the first character of each word to upper case
- `swapcase()`: Swaps cases, lower case becomes upper case and vice versa

Let's explore these methods by manipulating this [quote](https://www.brainyquote.com/topics/yale-quotes) from [Herman Melville](https://en.wikipedia.org/wiki/Herman_Melville): "a whale ship was my Yale College and my Harvard".

In [41]:
melville_quote = "a whale ship was my Yale College and my Harvard"

melville_quote

'a whale ship was my Yale College and my Harvard'

In [42]:
# Capitalize the first letter

In [43]:
# Convert all letters to lower case

In [44]:
# Convert all letters to upper case

In [45]:
# Make the first letter of each word capitalized

In [46]:
# Make uppercase lowercase, and lowercase uppercase

### 2. Splitting and joining strings

There are several methods that can help us join strings that are contained into a list into a single string, or conversely, parse a single string into a list of strings. These include: 

- `split(separator_string)`: Splits the string at the specified separator, and returns a list
- `splitlines()`: Splits the string at line breaks and returns a list
- `join(a_list)`: Converts the elements of an iterable into a string

In [47]:
# Split the Melville quote at each space into a list

In [48]:
# get the element at index 1

In [49]:
# Split a string at each line into a list

poem = """Some say the world will end in fire,
Some say in ice.
From what I’ve tasted of desire
I hold with those who favor fire.
But if it had to perish twice,
I think I know enough of hate
To say that for destruction ice
Is also great
And would suffice."""

poem

'Some say the world will end in fire,\nSome say in ice.\nFrom what I’ve tasted of desire\nI hold with those who favor fire.\nBut if it had to perish twice,\nI think I know enough of hate\nTo say that for destruction ice\nIs also great\nAnd would suffice.'

In [50]:
# Split the poem into a list

In [51]:
# Join a string together

### 3. Finding and replacing substrings

Some methods for locating a substring within a larger string include: 

- `count(substring)`: Returns the number of times a specified value occurs in a string
- `replace(original_str, replacement_str)`: Replace a substring with a different string.

Also: 
- `startswith(substring)`: Returns true if the string starts with the specified value
- `endswith(substring)` : Returns true if the string ends with the specified value

In [52]:
# How many times does the word "my" occur in the Melville quote?

In [53]:
# Replace a substring

In [54]:
# Does the quote start with "a"?

In [55]:
# Does the quote end with Harvard?

### Example: string processing on webpages

As an example, let's do some string processing on webpages!

In [56]:
# Download a webpage and save it as a file called politics.html

import requests

url = 'https://www.foxnews.com/politics/biden-teams-up-harris-campaign-trail-first-time-since-dropping-re-election-bid-against-trump'
r = requests.get(url, allow_redirects=True)
open('politics.html', 'wb').write(r.content)

258650

In [57]:
# Read in the file as a string called webpage_string
file = open('politics.html', 'r', encoding="utf8")
webpage_string = file.read()

# Look at the first 300 characters

In [58]:
# Replace a word on the webpage

webpage_updated = ...

In [59]:
# Write updated string to a file
text_file = open("updated_politics.html", "w", encoding="utf8")
n = text_file.write(webpage_updated)
text_file.close()

TypeError: write() argument must be str, not ellipsis

<img src = "https://i1.sndcdn.com/avatars-000316245474-0yp1vu-t500x500.jpg">

## Comparisons ##

We can do simple mathematical and string comparisons in Python which return Boolean values.

In [ ]:
# The Boolean True

In [ ]:
# The Boolean False

In [ ]:
# True is equal to 1 and Fase is equal to 0

In [ ]:
# basic math comparison

In [ ]:
# checking the type of a basic math comparison

In [ ]:
# another basic math comparison

In [ ]:
# We use == to compare whether two items are equal (not 5 = 5)

In [ ]:
x = 20
y = 7

In [ ]:
# we can compare whether a value is between two values

In [ ]:
# we can also do mathematical operations between logical comparisons

In [ ]:
# we can use the `and` keyword to combine multiple logical statements

In [ ]:
# we can also use the `or` keyword to combine multiple logical statements

In [ ]:
# We can also compare strings

In [ ]:
# Stings compare alphabetically

In [ ]:
# Shorter words occur earlier than longer words that have matching letters

## More string manipulation

### 1. Checking string properties

There are also many functions to check properties of strings including:

- `isalnum()`: Returns True if all characters in the string are alphanumeric
- `isalpha()`: Returns True if all characters in the string are in the alphabet
- `isnumeric()`: Returns True if all characters in the string are numeric

- `isspace()`: Returns True if all characters in the string are whitespaces

- `islower()`: Returns True if all characters in the string are lower case
- `isupper()`:Returns True if all characters in the string are upper case
- `istitle()`: Returns True if the string follows the rules of a title

Let's test some of these methods out...

In [ ]:
# Checking if a string is all letters

In [ ]:
# Checking if a string is all numbers

In [ ]:
# Checking if a string only contains spaces
# (also works for new line characters \n, and tables \t)

In [ ]:
# Checking if a string is upper case

### 2. String padding

Often we want to remove extra spaces (called "white space") from the front or end of a string. Or conversely, sometimes we want to add extra spaces to make a set of strings the same length (this is known as "string padding"). 

Python strings have a number of methods that can pad/trim strings including: 

- `strip()`: Returns a trimmed version of the string (i.e., with no leading or trailing white space). 
- `center(num)`: Returns a centered string (with equal padding on both sides)
- `zfill(num)`: Fills the string with a specified number of 0 values at the beginning

Let's use a modified version of Melville quote to explore this

In [ ]:
melville_quote2 = "    a whale ship was my Yale College and my Harvard   "
melville_quote2

In [ ]:
# Strip the white space

In [ ]:
# Center the quote by padding with white space 
#. to have a total of 70 characters

In [ ]:
# Make a number have leading 0's 
# Q: Why/when is this useful?

### 3. Filling in strings with particular values

There are a number of ways to fill in strings parts of a string with particular values. Perhaps the most useful is to use "f strings", which have the following syntax such as: 

`f"my string {value_to_fill} will be filled in"`.

Where the value of the variable `value_to_fill` will be filled into the string. 

Let's try it out...

In [ ]:
# Let's use an f-string

In [ ]:
# We can also do formatting with f-strings