# Class 2: The basics of Python

In this notebook we will learn some of the basic syntax of Python. We will use what we learn today throughout the rest of the semester so make sure you are understanding the main ideas, and try to practice more on your own.

## Using the YData package to get class material

You can get the class code and the homework using the YData package, which is a custom package I have written for this class. The code in the cell below shows you how to do this.

In [ ]:
## Example code to download the test first homework 
import YData

# download the code for today's class - which presumably you've already done if you're reading this file
# YData.download_class_code(2)

# download the code for today's class with the answers
YData.download_class_code(2, True)

# download the first homework
YData.download_homework(1)

In [ ]:
## If using Google Colab, uncomment and run the code below. Then run the code in the cell above to download the class code or homework. 

# !pip install https://github.com/emeyers/YData_package/tarball/master
# from google.colab import drive
# drive.mount('/content/drive')

## Python ##

Let's explore some basic arithmetic operations!

In [1]:
# add numbers

In [2]:
# subtract numbers

In [3]:
# multiple numbers

In [4]:
# divide numbers

In [5]:
# Take numbers to a power:  2 * 2 * 2

## Names

We can assign a value to a `name` which store the value. We can then refer to the name in future operations. 

Let's do the following:
- Assign 10 to the the name `a`
- Assign 6 to the the name `b`
- Assign the sum of `a` and `b` to a name called `total`

In [6]:
# assign the name a to the value 10

In [7]:
# print a

In [8]:
# assign the name b to the value 6

In [9]:
# assign the name total to a plus b

In [10]:
# print total

In [11]:
# change b

In [12]:
# print total again

In [13]:
# assign the name total to a plus b again

In [14]:
# print total again

### Yearly minimum wage salarly

The minimum wage in Connecticult ias $15.69 per hour. If someone was working 40 hours a week for all 52 weeks in a year, what would their yearly salary be?  

While we could do the calculation in a single step, let's create some intermediate names to make the calculation more comprehensible. In particular, create the following names as part of intermediate calculations: 

- `hours_per_week`: the number of hours in a work week (40)
- `weeks_per_year`: the number of weeks in a year 
- `total_hours`: the total number of hours in a year
- `ct_hourly_minimum_wage`: minimum wage in Connecticut 
- `total_wages`: total wages earned in a year

In [15]:
# create names hours_per_week and weeks_per_year

In [16]:
# calculate (approximate) total hours in a year and assign to name total_hours

In [17]:
# print total hours

In [18]:
# create ct_hourly_minimum_wage

In [19]:
# calculate total_wages

## Call expressions ##

Call expression call "functions" to compute values. 

A few example functions are: 
- `abs()`: Takes the absolute value of a number
- `min(x, y, ..., z)`: Takes the minimum value of x, y, ..., z
- `round()`: round a number, potentially to a given number of decimal places

In [20]:
# take absolute value of -5

In [21]:
# print a

In [22]:
# print b

In [23]:
# take absolute value of b minus a

In [24]:
# take the minimum value of 8 and 3

In [25]:
# round a number

In [26]:
# round a number to 2 digits

## Numbers ##

Numbers in Python are of two basic types:

* Integers which are whole numbers (e.g., 1, 10, 0, -5, etc.)
* Floating point numbers which are decimal numbers (e.g., 2.0, 3.1415, etc.)

## Strings ##

Strings are how Python represents text. Strings can be created by putting text in either single quotes or in double quotes, but the same type of quote must be used at the start and end of the string. 

* `"This is a string created using double quotes"`
* `'This is a string created using single quotes'`
* `'This is not a correctly formed string because it starts with a single quote and ends with a double quote"`

## Types ##

Which can check what *type* is being stored in a name using the `type()` function. 

We can convert between types using functions like `int()`, `float()`, and `str()`.

In [ ]:
# convert a int to a string

In [45]:
# convert a string to an int

## Lists 

Lists one "data structure" we can use that can hold multiple values. 

We use the square brackets to create lists; e.g., `my_list = [1, 2, 3]`

We can also access elements using

In [27]:
# A list of numbers

In [28]:
# A list of strings

In [29]:
# Lists can hold elements of different types

In [30]:
# We can access elements of a list also using square brackets

In [31]:
# concatenating lists

In [32]:
# getting the number of elements in a list using the len() function

In [33]:
# slicing lists

In [34]:
# start at a different index

In [35]:
# what does this do?

In [36]:
# If a list is all numbers we can sum the values, or the maximum value

In [37]:
# Can't sum values that are not numbers

# Example: NBA Salaries

Let's look a salaries of basketball players in the NBA! The data we will analyze contains infomraiton about each player including their salary from the 2022-2023 season listed in millions of dollars.  

We will load the data as a "pandas DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists and dictionaries to explore it further. 

This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341

In [38]:
import YData as ydata
import pandas as pd

# download the data
nba_file_name = "nba_salaries_2022_23.csv"   # "nba_salaries_2015_16.csv"
ydata.download.download_data(nba_file_name)

# load in the data
nba = pd.read_csv(nba_file_name)  

# show the first 6 rows
nba.head()

            PLAYER POSITION           TEAM     SALARY
0  De'Andre Hunter       SF  Atlanta Hawks   9.835881
1    Jalen Johnson       SF  Atlanta Hawks   2.792640
2       AJ Griffin       SF  Atlanta Hawks   3.536160
3    Trent Forrest       SG  Atlanta Hawks   0.508891
4     John Collins       PF  Atlanta Hawks  23.500000

In [39]:
# get the salaries as a list

salary_list = nba["SALARY"].to_list()
player_list = nba["PLAYER"].to_list()

In [40]:
# Who is the first player listed?

In [41]:
# What are the salaries of the first 5 players?

In [42]:
# What is the maximum and minimum salaries?

In [43]:
# What is the minimum salary in dollars (rather than millions of dollars)?

In [44]:
# What is the average salary?

We will learn much easier ways to manipulate structured data tables when we learn how to use the pandas package.