# Class 8: pandas Series and Data Frames

Today we will discuss pandas Series and DataFrames which allow us to analyze data tables.

In [2]:
import YData

# YData.download.download_class_code(8)   # get class code    
# YData.download.download_class_code(8, True)  # get the code with the answers 

YData.download_data("nba_salaries_2022_23.csv")
YData.download_data("nyc23_flights.csv")
YData.download_data("nyc23_airlines.csv")
# YData.download.download_data("monthly_egg_prices.csv")

The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `nyc23_flights.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `nyc23_airlines.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

There are also similar functions to download the homework:

In [3]:
# YData.download.download_homework(4)  # downloads the fourth homework

If you are using colabs, you should run the code.

In [4]:
# !pip install https://github.com/emeyers/YData_package/tarball/master
# from google.colab import drive
# drive.mount('/content/drive')

## Boolean masking warm-up exercise

As a warm-up exercise, please calculate the total salary for players on the Boston Celtics and on the Golden State Warriors to see which team spent the most money on salaries. 

Hint: If you're stuck a useulf first step would be to create a Boolean masks indicating which players are on the Celtics...

In [5]:
# download the data
import YData
YData.download.download_data("nba_salaries_2022_23.csv")

The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

In [6]:
# Extract the necessary data

# Load the NBA data as a pandas data frame
import pandas as pd
import numpy as np

nba = pd.read_csv("nba_salaries_2022_23.csv")  # load in the data
nba.head()


# Extract ndarrays for salary and position 
salary_array = nba["SALARY"].values
team_array = nba["TEAM"].values

np.unique(team_array)

array(['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets',
       'Charlotte Bobcats', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons',
       'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
       'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves',
       'New Orleans Hornets', 'New York Knicks', 'Oklahoma City Thunder',
       'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns',
       'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs',
       'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'], dtype=object)

In [7]:
# Calculate the average salary for players on the Boston Celtics





# Calculate the average salary for players on the Golden State Warriors

## Tuples

Tuples are a basic data structure in Python that is like a list. However, unlike lists, elements in tuples are "immutable" meaning that once we create a tuple, we can not modify the values in the tuple.

We create tuples by using values in parentheses separated by commas:

`my_tuple = (10, 20, 30)`

Let's explore tuples now...

In [8]:
# create a tuple

In [9]:
# we can access elements of the tuple using square brackets (the same as lists)

In [10]:
# unlike a list, we can't reassign values in a tuple

In [11]:
# We extract values from tuples into regular names using "tuple unpacking"

## Dictionaries

Dictionaries allow us to look up values. In particular, we provide a "key" and the dictionary return a "value". 

We can create dictionaries using the syntax: 

`my_dict = {"key1": 1, "key2": 20}`

In [12]:
# create a dictionary

In [13]:
# we can access elements using square brackets

In [14]:
# values in dictionaries can be list

In [15]:
# We can create a dictionary from two lists of the same length using the dict() and zip() functions




# turn the lists into a dictionary using the zip() and dict() functions

In [16]:
# Load the NBA data as a pandas data frame
import pandas as pd
nba = pd.read_csv("nba_salaries_2022_23.csv")  # load in the data

# Extract ndarrays for salary and position 
salary_array = nba["SALARY"].values
player_array = nba["PLAYER"].values

print(salary_array[0:5])
print(player_array[0:5])

[ 9.835881  2.79264   3.53616   0.508891 23.5     ]
["De'Andre Hunter" 'Jalen Johnson' 'AJ Griffin' 'Trent Forrest'
 'John Collins']

In [17]:
# create a dictionary between players and their salaries



# what is Stephen Curry's salary?

## Pandas 

pandas Series are: 0ne-dimensional ndarray with axis labels

pands DataFrame are: Table data

Let's look at the egg price data...

In [18]:
# import the numpy package
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd

In [19]:
# import YData
# YData.download_data("monthly_egg_prices.csv");
# #reading in a series by parsing the dates, and using .squeeze() to conver to a Series
# egg_prices_series = pd.read_csv("monthly_egg_prices.csv", parse_dates=True, date_format="%m/%d/%y", index_col="DATE").squeeze()
# egg_prices_series


from pandas_datareader.fred import FredReader
egg_prices_series = FredReader("APU0000708111", start='1980-01-01', end='2024-09-01').read().squeeze()

egg_prices_series

DATE
1980-01-01    0.879
1980-02-01    0.774
1980-03-01    0.812
1980-04-01    0.797
1980-05-01    0.737
              ...
2024-04-01    2.864
2024-05-01    2.699
2024-06-01    2.715
2024-07-01    3.080
2024-08-01    3.204
Name: APU0000708111, Length: 536, dtype: float64

In [20]:

# print the type



# print the shape



# print the series

In [21]:
# get a value from the Series by an Index name using .loc

In [22]:
# get a value from the Series by index number using .iloc

In [23]:
# use the .filter() method to get data from dates that contain "2023"




# print the length

In [24]:
# Visualize the Series

In [25]:
# turn the index back into a column using .reset_index()



# get the type



# print the values

## DataFrames!

The ability to manipulate data in tables is one of the most useful skills in Data Science. 

Pandas is the most popular package in Python for manipulating data tables so we will use this package for manipulating tables in this class. The syntax for Pandas can be a little tricky, so try to be patient if you run into errors, and as always, there should be plenty of help available at office hours and on Ed. 

As an example, let's look at flight information!

As you know, travel by airplane can be convenient because airplanes fly very fast. However, even though the airplanes themselves are fast, their scheduled departure times are often delayed, which can significantly add to ones travel time, and can be frustrating.

Let's analyze data on flights to gain insight into how best to avoid flight delays. In particular, we will look at airplane flights that left the airports
in New York City, since these airports are some of the closest major airports to New Haven, and we will use dplyr to do some quick explorations of the data to see if there are some ways to potentially avoid flight delays.

The code below loads the data into a pandas DataFrame named `flights` and sets the Index to be the airplane's [tail number](https://en.wikipedia.org/wiki/Tail_number). Some variables of interest in this DataFrame are:

- `year`, `month`, `day`: Date of departure 
- `dep_time`, `arr_time`: Actual departure and arrival times, [UTC](https://en.wikipedia.org/wiki/UTC_offset) 
- `sched_dep_time`, `sched_arr_time`: Scheduled departure and arrival times, UTC 
- `dep_delay`, `arr_delay`: Departure and arrival delays, in minutes. Negative times represent early departures/arrivals.
- `hour`, `minute`: Time of scheduled departure broken into hour and minutes.
- `carrier`: Two letter carrier abbreviation. See get_airlines to get the full name.
- `flight` Flight number.
- `origin`, `dest`: Origin and destination airport. See get_airports for additional metadata.
- `air_time`: Amount of time spent in the air, in minutes.
- `distance`: Distance between airports, in miles.
- `time_hour`: Scheduled date and hour of the flight as a POSIXct date. Along with origin, can be used to join flights data to weather data.

The first 5 rows of this DataFrame are shown below.

In [26]:
#import YData
#YData.download_data("nyc23_flights.csv")

flights = pd.read_csv("nyc23_flights.csv", index_col="tailnum", parse_dates=[18])

flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute,time_hour
tailnum,,,,,,,,,,,,,,,,,,
N25201,2023,1,1,1.0,2038,203.0,328.0,3,205.0,UA,628,EWR,SMF,367.0,2500,20,38,2023-01-01 20:00:00
N830DN,2023,1,1,18.0,2300,78.0,228.0,135,53.0,DL,393,JFK,ATL,108.0,760,23,0,2023-01-01 23:00:00
N807JB,2023,1,1,31.0,2344,47.0,500.0,426,34.0,B6,371,JFK,BQN,190.0,1576,23,44,2023-01-01 23:00:00
N265JB,2023,1,1,33.0,2140,173.0,238.0,2352,166.0,B6,1053,JFK,CHS,108.0,636,21,40,2023-01-01 21:00:00
N17730,2023,1,1,36.0,2048,228.0,223.0,2252,211.0,UA,219,EWR,DTW,80.0,488,20,48,2023-01-01 20:00:00

In [27]:
# The head() method returns the first 5 rows. 
# Let's use the tail() method to get the last 5 rows.
# From looking at the output, can you tell what year the data goes back until?

In [28]:
# get the number of rows and columns in a DataFrame using the shape property

In [29]:
# get the types of all the columns using .dtypes

In [30]:
# get the names of all the columns using .columns



# we can convert these names to an numpy array using the .to_numpy() method

In [31]:
# get more info on the data frame using the .info() method

In [32]:
# get descriptive statistics on DataFrame using the .describe() method

### Selecting columns from a DataFrame

We can select columns from a DataFrame using the square brackets; e.g., `my_df["my_col"]`

If we'd like to select multiple columns we can pass a list; e.g., `my_df[["col1", "col2"]]`

In [33]:
# Get just the arrival delay
# Be careful: if you just use a ["Col_name"] it will return it as a Series!

In [34]:
# we can also get a single column using the .col_name

In [35]:
# if you want to get a single column as a DataFrame, pass a list in the [] brackets

In [36]:
# get multiple columns as a DataFrame

In [37]:
# to make it a little easier to see our results going forward, let's just select the following columns: 

flights_copy = flights.copy()

flights = flights[['arr_delay', 'dep_delay', 'carrier', 'flight', 'arr_time', 'dep_time',  'origin', 'dest', 'air_time', 'distance', 'time_hour']]

flights.head(3)

,arr_delay,dep_delay,carrier,flight,arr_time,dep_time,origin,dest,air_time,distance,time_hour
tailnum,,,,,,,,,,,
N25201,205.0,203.0,UA,628,328.0,1.0,EWR,SMF,367.0,2500,2023-01-01 20:00:00
N830DN,53.0,78.0,DL,393,228.0,18.0,JFK,ATL,108.0,760,2023-01-01 23:00:00
N807JB,34.0,47.0,B6,371,500.0,31.0,JFK,BQN,190.0,1576,2023-01-01 23:00:00

### Getting a subset of rows from a DataFrame

Similar to pandas Series, we can get particular rows from a DataFrame using:

- `.loc`:  Get rows by Index values - and by Boolean masks
- `.iloc`.:  Get rows by their index number

In [38]:
# Extract rows based on the Index name "N25201"

In [39]:
# Extract a row based on the row number (get row 0 to 3)

In [40]:
# We can get multiple rows that meet particular conditions using Boolean masking

# flights leaving JFK

In [41]:
# extract the rows the correspond to JFK

In [42]:
import matplotlib.pyplot as plt

# visualize JFK flight delays as a histogram

### Sorting values in a DataFrame

We can sort values in a DataFrame using `.sort_values("col_name")`

We can sort from highest to lowest by setting the argument `ascending = False`

In [43]:
# Sort the data by arrival delay

In [44]:
# What is the longest arrival delay?

### Adding new columns to a Data Frame

We can add a column to a data frame using square backets. For example: 

- `my_df["new col"] = my_df["col1"] + my_df["col2"]`.

Let's add a column called "madeup_time" which has the reduction in delay from when the flight left (`dep_delay`) to when it arrived (`arr_delay`).

In [45]:
# copy the data 
flights2 = flights.copy()



# calculate how many minutes were made up in flight



# add change column

In [46]:
# sort the values



# sort the data from largest to smallest

We can rename columns by:
1. Creating a `rename_dictionary` dictionary that maps old column names to new column names
2. By passing this dictionary to the `my_df.rename(columns = rename_dictionary)` method

In [47]:
# Rename the Percent change column

### Getting aggregate statistics by group

We can get aggregate statistics by group using `groupby()` and `agg` methods using the following syntax:

`my_df.groupby("col_name").agg("agg_function_name")`

Can you get the average delay for each airline?

In [48]:
# What was the average delay for each airline?

There are several ways to get multiple statistics by group. Perhaps the most useful way is to use the syntax:

<pre>
my_df.groupby("group_col_name").agg(
   new_col1 = ('col_name', 'statistic_name1'),
   new_col2 = ('col_name', 'statistic_name2'),
   new_col3 = ('col_name', 'statistic_name3')
)
</pre>


Let's create a DataFrame that has for each carrier:
1. The number of flights 
2. The max departure delay
3. The median arrival delay

![grumpy](http://www.quickmeme.com/img/17/1702cb8d3730013bdff1203920324ab55a244f0061cfaa118af059b683e2d275.jpg)

### "Joining" DataFrames by Index

To explore joining DataFrames, let's load the airline names into a DataFrames into a DataFrame called `airline_names`. 

Let's also set the Index for both the `airline_names` and `flights` to be the airline carrier code. 

For demonstration purposes, let's also do the following: 

1. Reduce the `flights` DataFrame to only have information on American Airlines (AA), Jet Blue (B6) and United Air Lines Inc. (UA) and save it to the name `flights_3_carriers`.

2. Reduce `airline_names` to the first 10 entries (thus removing United Airlines), and save it to the name `airline_names_reduced`

In [49]:
flights_3_carriers = flights.reset_index().set_index("carrier")

# just get flights from American Airlines (AA), Jet Blue (B6) and Delta (DL) 
flights_3_carriers = flights_3_carriers.loc[["AA", "B6", "UA"]].sort_values("time_hour")

flights_3_carriers.head()

,tailnum,arr_delay,dep_delay,flight,arr_time,dep_time,origin,dest,air_time,distance,time_hour
carrier,,,,,,,,,,,
AA,N925AN,-7.0,3.0,499,808.0,503.0,EWR,MIA,154.0,1085,2023-01-01 05:00:00
B6,N948JB,44.0,41.0,646,923.0,611.0,EWR,FLL,163.0,1065,2023-01-01 05:00:00
B6,N639JB,4.0,-10.0,800,905.0,549.0,JFK,PBI,164.0,1028,2023-01-01 05:00:00
UA,N13113,68.0,17.0,206,926.0,537.0,EWR,IAH,258.0,1400,2023-01-01 05:00:00
B6,N2043J,-1.0,10.0,996,948.0,520.0,JFK,BQN,192.0,1576,2023-01-01 05:00:00

In [50]:
airline_names = pd.read_csv("nyc23_airlines.csv", index_col = "carrier")
airline_names_reduced = airline_names.iloc[0:10]

airline_names_reduced

                           name
carrier
9E            Endeavor Air Inc.
AA       American Airlines Inc.
AS         Alaska Airlines Inc.
B6              JetBlue Airways
DL         Delta Air Lines Inc.
F9       Frontier Airlines Inc.
G4                Allegiant Air
HA       Hawaiian Airlines Inc.
MQ                    Envoy Air
NK             Spirit Air Lines

When two DataFrames have the same Index values, we can use the `.join()` method to join them.

In [51]:
# Let's do a left join by setting how = "left"

In [52]:
# Let's do a right join by setting how = "right"

### "Merging" DataFrames by column values

If we want to join by value in a column rather than by Index value we can use the `.merge()` method (which is very similar to the `.join()` method).

In [53]:
# reset the index of flights_3_carriers
flights_3_carriers2 = flights_3_carriers.reset_index()
flights_3_carriers2.head(3)

,carrier,tailnum,arr_delay,dep_delay,flight,arr_time,dep_time,origin,dest,air_time,distance,time_hour
0,AA,N925AN,-7.0,3.0,499,808.0,503.0,EWR,MIA,154.0,1085,2023-01-01 05:00:00
1,B6,N948JB,44.0,41.0,646,923.0,611.0,EWR,FLL,163.0,1065,2023-01-01 05:00:00
2,B6,N639JB,4.0,-10.0,800,905.0,549.0,JFK,PBI,164.0,1028,2023-01-01 05:00:00

In [54]:
# reset the index of airline_names_reduced
airline_names_reduced2 = airline_names_reduced.reset_index()
airline_names_reduced2.head(3)

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.

In [55]:
# use the .merge() method to join the DataFrames

#### Merging with different column names

What if the columns we want to join on have different names, we can use the `left_on` and `right_on` arguments to specify which columns (i.e., keys) should be used to align the two DataFrames

In [56]:
flights_3_carriers3 = flights_3_carriers2.rename(columns = {"carrier": "Airline Code"})
flights_3_carriers3.head(3)

,Airline Code,tailnum,arr_delay,dep_delay,flight,arr_time,dep_time,origin,dest,air_time,distance,time_hour
0,AA,N925AN,-7.0,3.0,499,808.0,503.0,EWR,MIA,154.0,1085,2023-01-01 05:00:00
1,B6,N948JB,44.0,41.0,646,923.0,611.0,EWR,FLL,163.0,1065,2023-01-01 05:00:00
2,B6,N639JB,4.0,-10.0,800,905.0,549.0,JFK,PBI,164.0,1028,2023-01-01 05:00:00

In [57]:
airline_names_reduced3 = airline_names_reduced2.rename(columns = {"carrier": "Code"})
airline_names_reduced3.head(3)

  Code                    name
0   9E       Endeavor Air Inc.
1   AA  American Airlines Inc.
2   AS    Alaska Airlines Inc.

In [58]:
# merge the DataFrames specifying the column names to join on

#### Example: Spelling out names of airlines with the longest delays

Please try to create a DataFrame where the Index name is the full airline name, and the columns are:
- `mean_delay`: Has the mean arrival delay for each airline
- `median_delay`: Has the median arrival delay for each airline
- `count`: The number of flights that went into these averages

To do this, start with the `flights`, and the `airline_names` DataFrames and go from there. Also, be sure your results are sorted from the largest mean delay to the smallest mean delay

#### Further flight delay explorations

If you are interested in exploring further what leads to flight delays, you can also check out the following data:

- `nyc23_planes.csv`: Information about different airplanes 
- `nyc23_airports.csv`: The names of different airports
- `

All these data sets can be downloaded using the `YData.download_data()` function. A codebook that contains information on the variables in these DataFrames can be found at: https://cran.r-project.org/web/packages/nycflights23/nycflights23.pdf

In [59]:
# Explore more on your own!  For example, you can examine how weather affects flight delays, etc.