# Class 7: pandas Series and Data Frames

Today we will discuss pandas Series and DataFrames which allow us to analyze data tables.

## Notes on the class Jupyter setup

If you have the *ydata123_2024a* environment set up correctly, you can get the class code using the code below (which presumably you've already done given that you are seeing this notebook).

In [12]:
import YData

# YData.download.download_class_code(7)   # get class code    

# YData.download.download_class_code(7, True)  # get the code with the answers 


YData.download.download_data("dow.csv")
YData.download.download_data("monthly_egg_prices.csv")
YData.download.download_data("monthly_wheat_prices.csv")
YData.download.download_data("nba_salaries_2022_23.csv")
YData.download.download_data("nba_position_names.csv")

The file `dow.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `monthly_egg_prices.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `monthly_wheat_prices.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `nba_position_names.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

There are also similar functions to download the homework:

In [13]:
# YData.download.download_homework(3)  # downloads the second homework

If you are using colabs, you should run the code below to load the YData package.

In [14]:
# !pip install https://github.com/emeyers/YData_package/tarball/master

If you are using google colabs, you should also uncomment and run the code below to mount the your google drive

In [15]:
# from google.colab import drive
# drive.mount('/content/drive')

## Boolean masking warm-up exercise

As a warm-up exercise, please calculate the total salary for players on the Boston Celtics and on the Golden State Warriors to see which team spent the most money on salaries. 

Hint: If you're stuck a useulf first step would be to create a Boolean masks indicating which players are on the Celtics...

In [16]:
# download the data
import YData
YData.download.download_data("nba_salaries_2022_23.csv")

The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

In [17]:
# Extract the necessary data

# Load the NBA data as a pandas data frame
import pandas as pd
import numpy as np

nba = pd.read_csv("nba_salaries_2022_23.csv")  # load in the data
nba.head()


# Extract ndarrays for salary and position 
salary_array = nba["SALARY"].values
team_array = nba["TEAM"].values

np.unique(team_array)

array(['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets',
       'Charlotte Bobcats', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons',
       'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
       'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves',
       'New Orleans Hornets', 'New York Knicks', 'Oklahoma City Thunder',
       'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns',
       'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs',
       'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'], dtype=object)

In [1]:
# Calculate the average salary for players on the Boston Celtics



# Calculate the average salary for players on the Golden State Warriors

## Tuples

Tuples are a basic data structure in Python that is like a list. However, unlike lists, elements in tuples are "immutable" meaning that once we create a tuple, we can not modify the values in the tuple.

We create tuples by using values in parentheses separated by commas:

`my_tuple = (10, 20, 30)`

Let's explore tuples now...

In [2]:
# create a tuple

In [3]:
# we can access elements of the tuple using square brackets (the same as lists)

In [4]:
# unlike a list, we can't reassign values in a tuple

In [5]:
# We extract values from tuples into regular names using "tuple unpacking"

## Dictionaries

Dictionaries allow us to look up values. In particular, we provide a "key" and the dictionary return a "value". 

We can create dictionaries using the syntax: 

`my_dict = {"key1": 1, "key2": 20}`

In [74]:
# create a dictionary

{'key1': 1, 'key2': 20}

In [75]:
# we can access elements using square brackets

20

In [76]:
# values in dictionaries can be list

[True, False]

In [77]:
# We can create a dictionary from two lists of the same length using the dict() and zip() functions

my_list = [1, 2, 3]
my_list2 = ["a", "b", "c"]

# turn the lists into a dictionary using the zip() and dict() functions

{'a': 1, 'b': 2, 'c': 3}

2

In [78]:
# download the data basketball salary data

import YData
YData.download.download_data("nba_salaries_2022_23.csv")

The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

In [79]:
# Load the NBA data as a pandas data frame
import pandas as pd
nba = pd.read_csv("nba_salaries_2022_23.csv")  # load in the data

# Extract ndarrays for salary and position 
salary_array = nba["SALARY"].values
player_array = nba["PLAYER"].values

print(salary_array[0:5])
print(player_array[0:5])

[ 9.835881  2.79264   3.53616   0.508891 23.5     ]
["De'Andre Hunter" 'Jalen Johnson' 'AJ Griffin' 'Trent Forrest'
 'John Collins']

In [6]:
# create a dictionary between players and their salaries



# what is Stephen Curry's salary?

## Pandas 

pandas Series are: 0ne-dimensional ndarray with axis labels

pands DataFrame are: Table data

Let's look at the egg and wheat price data...

In [81]:
YData.download.download_data("monthly_egg_prices.csv");
YData.download.download_data("dow.csv");

The file `monthly_egg_prices.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `dow.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

In [8]:
# import the numpy package
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd

In [17]:
# reading in a series by parsing the dates, and using .squeeze() to conver to a Series

egg_prices_series = pd.read_csv("monthly_egg_prices.csv", parse_dates=True, date_format="%m/%d/%y", index_col="DATE").squeeze()


# print the type


# print the shape


# print the series

DATE
1980-01-01    0.879
1980-02-01    0.774
1980-03-01    0.812
1980-04-01    0.797
1980-05-01    0.737
              ...
2023-08-01    2.043
2023-09-01    2.065
2023-10-01    2.072
2023-11-01    2.138
2023-12-01    2.507
Name: Price, Length: 528, dtype: float64

In [18]:
# get a value from the Series by an Index name using .loc

In [19]:
# get a value from the Series by index number using .iloc

In [20]:
# use the .filter() method to get data from dates that contain "2023"



# print the length

In [21]:
# turn the index back into a column using .reset_index()


# get the type


# print the values

## DataFrames!

The ability to manipulate data in tables is one of the most useful skills in Data Science. 

Pandas is the most popular package in Python for manipulating data tables so we will use this package for manipulating tables in this class. The syntax for Pandas can be a little tricky, so try to be patient if you run into errors, and as always, there should be plenty of help available at office hours and on Ed. 

As an example, let's look at data on the closing price of the [Dow Jones Industrial Average](https://www.marketwatch.com/investing/index/djia) which is an index of the prices of the 30 largest corporations in the US.

The code below loads the DOW data into a Pandas DataFrame and displays the first 5 rows using the `head()` method.

In [35]:
dow = pd.read_csv("dow.csv", parse_dates=[0], date_format="%m/%d/%y", index_col="Date")

dow.head()

,Year,Month,Day,Open,High,Low,Close,Volume
Date,,,,,,,,
1992-01-02,1992,1,Thursday,3152.100098,3172.629883,3139.310059,3172.399902,23550000
1992-01-03,1992,1,Friday,3172.399902,3210.639893,3165.919922,3201.500000,23620000
1992-01-06,1992,1,Monday,3201.500000,3213.330078,3191.860107,3200.100098,27280000
1992-01-07,1992,1,Tuesday,3200.100098,3210.199951,3184.479980,3204.800049,25510000
1992-01-08,1992,1,Wednesday,3204.800049,3229.199951,3185.820068,3203.899902,29040000

In [22]:
# The head() method returns the first 5 rows. 
# Let's use the tail() method to get the last 5 rows.
# From looking at the output, can you tell what year the data goes back until?

In [90]:
# get the number of rows and columns in a DataFrame using the shape property

(8080, 8)

In [23]:
# get the types of all the columns using .dtypes

In [24]:
# get the names of all the columns using .columns



# we can convert these names to an numpy array using the .to_numpy() method

In [25]:
# get more info on the data frame using the .info() method

In [26]:
# get descriptive statistics on DataFrame using the .describe() method
# round() the values, or can convert them to ints using astype("int")

### Selecting columns from a DataFrame

We can select columns from a DataFrame using the square brackets; e.g., `my_df["my_col"]`

If we'd like to select multiple columns we can pass a list; e.g., `my_df[["col1", "col2"]]`

In [27]:
# Get just the DOW close price
# Be careful: if you just use a ["Col_name"] it will return it as a Series!

In [28]:
# we can also get a single column using the .col_name

In [29]:
# if you want to get a single column as a DataFrame, pass a list in the [] brackets

In [30]:
# Get both the open and close price

### Getting a subset of rows from a DataFrame

Similar to pandas Series, we can get particular rows from a DataFrame using:

- `.loc`:  Get rows by Index values - and by Boolean masks
- `.iloc`.:  Get rows by their index number

In [41]:
# Extract a row based on the Index name "2024-01-25"

In [34]:
# Extract a row based on the row number (get row 0)

In [38]:
# We can get multiple rows that meet particular conditions using Boolean masking

In [42]:
# extract the 2023 values using our Boolean mask
# actually works even without the .loc

In [43]:
# Can you get the mean DOW close value in 2023? 


# using the Series mean() function


# can also use np.mean()

### Sorting values in a DataFrame

We can sort values in a DataFrame using `.sort_values("col_name")`

We can sort from highest to lowest by setting the argument `ascending = False`

In [44]:
# Sort the data by the Close value

In [45]:
# What is the highest the DOW has been?

### Adding new columns to a Data Frame

We can add a column to a data frame using square backets. For example: 

- `my_df["new col"] = my_df["col1"] + my_df["col2"]`.

Percent change is defined as: $100 * \frac{final - initial}{initial}$

Can you add a "Percent change" column to the dow2 data (which is a copy of the dow data comparing closing and opening prices?  What is the biggest percent change in the dow?

In [48]:
# copy the data to dow2



# add percent change column



# sort the data

In [49]:
# sort the data from largest to smallest

We can rename columns by:
1. Creating a `rename_dictionary` dictionary that maps old column names to new column names
2. By passing this dictionary to the `my_df.rename(columns = rename_dictionary)` method

In [50]:
# Rename the Percent change column

### Getting aggregate statistics by group

We can get aggregate statistics by group using `groupby()` and `agg` methods using the following syntax:

`my_df.groupby("col_name").agg("agg_function_name")`

Can you get the max values of the DOW each year?

In [51]:
# What was the max values of the DOW each year?

There are several ways to get multiple statistics by group. Perhaps the most useful way is to use the syntax:

<pre>
my_df.groupby("group_col_name").agg(
   new_col1 = ('col_name', 'statistic_name1'),
   new_col2 = ('col_name', 'statistic_name2'),
   new_col3 = ('col_name', 'statistic_name3')
)
</pre>


Let's create a DataFrame that has the number of trading days, the minimum and the maximum DOW value for each year.

![pandas](https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/071/445/310/original/719082_01.jpg.jpeg)

### "Joining" DataFrames by Index

To explore joining DataFrames, let's load the egg and wheat prices as DataFrames. 

We will also:
- Rename the Price colomns to Egg Price and Wheat Price
- Set the Index to be the date


When two DataFrames have the same Index values, we can use the `.join()` method to join them.

In [111]:
# load the egg and wheat prices as DataFrames
egg_price_df = pd.read_csv("monthly_egg_prices.csv", parse_dates=True, date_format="%m/%d/%y", index_col= "DATE")
egg_price_df = egg_price_df.rename(columns = {"Price":"Egg Price"})
egg_price_df.head(3)

            Egg Price
DATE
1980-01-01      0.879
1980-02-01      0.774
1980-03-01      0.812

In [112]:
wheat_price_df = pd.read_csv("monthly_wheat_prices.csv", parse_dates=True, date_format="%m/%d/%y", index_col= "DATE")
wheat_price_df = wheat_price_df.rename(columns = {"Price":"Wheat Price"})
wheat_price_df.head(3)

            Wheat Price
DATE
1990-01-01   167.918579
1990-02-01   160.937271
1990-03-01   156.528030

In [52]:
# Let's do a left join by setting how = "left"
# This will give same results as an outer join b/c the egg_price_df has all (and more) index values as the wheat_prices_df

In [53]:
# Let's do a right join by setting how = "right"  
# This will give same results as an inner join b/c the egg_price_df has all (and more) index values as the wheat_prices_df

### "Merging" DataFrames by column values

If we want to join by value in a column rather than by Index value we can use the `.merge()` method (which is very similar to the `.join()` method).

In [ ]:
# reset the index of eggs to make DATE a column

In [54]:
# reset the index of wheat to make DATE a column

In [55]:
# use the .merge() method to join the DataFrames

#### Merging with different column names

What if the columns we want to join on have different names, we can use the `left_on` and `right_on` arguments to specify which columns (i.e., keys) should be used to align the two DataFrames

In [118]:
egg_price_df3 = egg_price_df2.rename(columns = {"DATE":"Egg DATE"})
wheat_price_df3 = wheat_price_df2.rename(columns = {"DATE": "Wheat DATE"})

wheat_price_df3.head(3)

  Wheat DATE  Wheat Price
0 1990-01-01   167.918579
1 1990-02-01   160.937271
2 1990-03-01   156.528030

In [119]:
egg_price_df3.head(3)

    Egg DATE  Egg Price
0 1980-01-01      0.879
1 1980-02-01      0.774
2 1980-03-01      0.812

In [120]:
# merge the DataFrames specifying the column names to join on

      Egg DATE  Egg Price Wheat DATE  Wheat Price
0   1980-01-01      0.879        NaT          NaN
1   1980-02-01      0.774        NaT          NaN
2   1980-03-01      0.812        NaT          NaN
3   1980-04-01      0.797        NaT          NaN
4   1980-05-01      0.737        NaT          NaN
..         ...        ...        ...          ...
523 2023-08-01      2.043 2023-08-01   241.413878
524 2023-09-01      2.065 2023-09-01   229.390711
525 2023-10-01      2.072 2023-10-01   216.463939
526 2023-11-01      2.138 2023-11-01   216.000269
527 2023-12-01      2.507 2023-12-01   229.633413

[528 rows x 4 columns]

#### Example: Spelling out NBA position names

As you will recall, our NBA salaries DataFrame had the different positions listed as abbreviations such as "C" and "PG". 

Often it is hard to tell what these abbreviations (or codes) mean, so a common use of joining is to join on to a table a list of longer names that give more meaning to abbreviations. 

Below we load our `nba_salaries` DataFrame along with a `nba_positions` DataFrame which has information about how each position abbreviation maps on to the position's full name.

Let's merge these DataFrames together so that our `nba_salaries` DataFrame has the full position names!

In [121]:
nba_salaries = pd.read_csv("nba_salaries_2022_23.csv")

nba_salaries.head(3)

            PLAYER POSITION           TEAM    SALARY
0  De'Andre Hunter       SF  Atlanta Hawks  9.835881
1    Jalen Johnson       SF  Atlanta Hawks  2.792640
2       AJ Griffin       SF  Atlanta Hawks  3.536160

In [122]:
nba_positions = pd.read_csv("nba_position_names.csv")
nba_positions

  Position Abbreviation   Position Name
0                    PG     Point Guard
1                    SG  Shooting Guard
2                     C          Center
3                    SF   Small Forward
4                    PF   Power Forward

In [56]:
# merge the DataFrames together so each player's position is the full position name

In [57]:
# remove unnecessary columns using the .drop(colums = )  method