# Class 3: The basics of Python continued

In this notebook we will continue learning some of the basic syntax and data structures of Python. We will use what we learn today throughout the rest of the semester so make sure you are understanding the main ideas, and try to practice more on your own.

## Notes on the class Jupyter setup

If you have the *ydata123_2024a* environment set up correctly, you can get the class code using the code below (which presumably you've already done given that you are seeing this notebook).

In [ ]:
import YData

YData.download.download_class_code(3)   # get class 2 code    

# YData.download.download_class_code(3, True) # get the code with the answers

There are also similar functions to download the homework:

In [ ]:
YData.download.download_homework(1)  # downloads the first homework

If you are using colabs, you should install polars and the YData packages by uncommenting and running the code below.

In [ ]:
# !pip install https://github.com/emeyers/YData_package/tarball/master

If you are using google colabs, you should also uncomment and run the code below to mount the your google drive

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

## Review of the basics of Python

Let's review the basics of Python with a "number journey"...
1. Create a string called `string_holding_a_number` that is equal to the value of 2
2. Multiple this string by 3 to create a longer string and store it in the name `string_holding_a_bigger_number`
3. Convert this string to an integer and store it in the name `just_an_int`
4. Divide `just_an_int` by -8 and save it to the name `a_negative_float`
5. Take the absolute value of `a_negative_float` and save it to the name `a_positive_float`
6. Print out the value of `a_positive_float` and also the type of `a_positive_float`

Hint, the following functions could be useful: `int()`, `abs()`, `type()`.

In [ ]:
string_holding_a_number = ...

### Any questions???

If so, please ask them now...

## Comparisons ##

We can do simple mathematical and string comparisons in Python which return Boolean values.

In [ ]:
# basic math comparison

In [ ]:
# checking the type of a basic math comparison

In [ ]:
# another basic math comparison

In [ ]:
# We can type in Boolean values ourselves

In [ ]:
# We use == to compare whether two items are equal (not 5 = 5)

In [ ]:
x = 20
y = 7

In [ ]:
# we can compare whether a value is between two values

In [ ]:
# we can also do mathematical operations between logical comparisons

In [ ]:
# we can use the `and` keyword to combine multiple logical statements

In [ ]:
# we can also use the `or` keyword to combine multiple logical statements

In [ ]:
# We can also compare strings

In [ ]:
# Stings compare alphabetically

In [ ]:
# Shorter words occur earlier than longer words that have matching letters

## Lists 

Lists are a *data structure* that can hold multiple values. 

We use the square brackets to create lists; e.g., `my_list = [1, 2, 3]`

We can access elements using square brackets; e.g., `my_list[2]`. 

Let's explore lists!

In [ ]:
# A list of numbers

In [ ]:
# A list of strings

In [ ]:
# Lists can hold elements of different types

In [ ]:
# We can access elements of a list also using square brackets

In [ ]:
# concatenating lists

In [ ]:
# getting the number of elements in a list using the len() function

In [ ]:
# slicing lists

In [ ]:
# start at a different index

In [ ]:
# what does this do?

In [ ]:
# If a list is all numbers we can sum the values, or get the maximum value

In [ ]:
# We can't sum values that are not numbers

In [ ]:
# We can append values on to a list using the append() method. 
# Note, this modifies the original list and return a value of None!!!

In [ ]:
# We can also sort a list. Note this modified the original list!

number_list = [1, 52, 5, 124, 2, 5, 1, 4, 4, 5, 98]

In [ ]:
# if we want to save the original list we can create a copy

number_list = [1, 52, 5, 124, 2, 5, 1, 4, 4, 5, 98]

In [ ]:
# Let's count how many 3's appear in the list using the list.count() method

In [ ]:
# one can store lists inside of other lists

## Example: NBA Salaries

Let's look a salaries of basketball players in the NBA! The data we will analyze contains infomraiton about each player including their salary from the 2022-2023 season listed in millions of dollars.  

We will load the data as a "pandas DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists and dictionaries to explore it further. 

This table can be found online: https://www.gigasheet.com/sample-data/nba-player-salaries-2022-23-season

In [1]:
# download the data
import YData
YData.download.download_data("nba_salaries_2022_23.csv")

The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

In [2]:
# load the data and display the first 6 rows

import pandas as pd

nba = pd.read_csv("nba_salaries_2022_23.csv")  # load in the data

nba.head()  # show the first 6 rows

            PLAYER POSITION           TEAM     SALARY
0  De'Andre Hunter       SF  Atlanta Hawks   9.835881
1    Jalen Johnson       SF  Atlanta Hawks   2.792640
2       AJ Griffin       SF  Atlanta Hawks   3.536160
3    Trent Forrest       SG  Atlanta Hawks   0.508891
4     John Collins       PF  Atlanta Hawks  23.500000

In [ ]:
# extract the salaries and the player positions as lists

salary_list = nba["SALARY"].to_list()
position_list = nba["POSITION"].to_list()

In [ ]:
# show the salaries of the first 6 people

In [ ]:
# create a copy of the data

In [ ]:
# sort the data and show the 5 lowest salaries

In [ ]:
# what is the lowest salary in dollars? (not in millions of dollars)

In [ ]:
# sort the salary list from highest to lowest value

In [ ]:
# what are the 5 highest salaries?

In [ ]:
# We can also use the max() and min() functions to get the maximum and minimum salaries...

## Categorical data: statistics and plots

Categorical data is data that falls into different categories. 
- The main statistic we can calculate on categorical data is the **proportion** that is in a particular category. 
- We can visualize categorical data using bar plots and pie plots. 

Let's explore this using the NBA salary data...

In [ ]:
# View the first 13 entries of the position list

In [ ]:
# How many of the players are Centers (C)?

In [ ]:
# What is the proportion of players that are Centers (C)?

In [ ]:
# Let's create a list called "position counts" that has the number of: SF, SG, PF, PG, C

In [ ]:
# Let's also create a list of the position names

In [ ]:
# We can use matplotlib to visualize the data.. 

import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Let's create a pie chart

In [ ]:
# Let's add names to the each section of the pie chart

In [ ]:
# Let's create a bar chart of how many players there are at each position

### What is wrong with this plot???

See: https://xkcd.com/833/

In [ ]:
# Let's make a better version of the bar plot!

## Quantitative data: statistics and plots

Quantitative data is numeric data (e.g., ints and floats).
- We can visualize quantitative data using histograms and boxplots. 
- The main statistics we use to sumarize the central tendency of quantitative data are the mean and the median.  

Let's explore this using the NBA salary data...

In [ ]:
# plot a histogram of NBA salaries

In [ ]:
# What is the average salary?

In [ ]:
# we can also use the statistics module to calculate statistics 

import statistics

In [ ]:
# get the mean using the statistics package

In [ ]:
# get the median using the statistics package

In [ ]:
# plot the mean and the median on top of a histogram of salaries

## Outliers 

An outlier is an observed value that is notably distinct from the other values in a dataset by being much smaller or larger than the rest of the data. Outliers can potentially have a large influence on the statistics you calculate!

One should examine outliers to understand what is causing them:
- If there are due to an error, remove them.
- Otherwise, need to think about how to treat them. 
  - Could be an interesting phenomenon. 
  - Could restrict data to a particular range of values.
  - etc

In [ ]:
# Some fake data

In [ ]:
# Get the mean

In [ ]:
# Get the median

## Visualizing two quantitative variables

Let's create line plots and scatter plots to visualize daily bike trips using NYC CitiBike data....

In [ ]:
# Download the CitiBike data
YData.download.download_data('daily_bike_totals.csv')

In [ ]:
# Load the CitiBike data

import pandas as pd

bikes = pd.read_csv('daily_bike_totals.csv', parse_dates = [0])

bikes.head()

In [ ]:
# Extract the data to lists
dates = bikes['date'].to_list()
min_temp = bikes['min_temperature'].to_list()
max_temp = bikes['max_temperature'].to_list()

In [ ]:
# Create a line plot of the number of trips as a function of the date

In [ ]:
# Create a scatter plot of the maximum temperature as a funciton of the minimum temperature

<br>
<br>
<br>
<center>
<img src="https://pbs.twimg.com/media/DukTkwZWsAE7s0o?format=jpg&name=small" width="300"/>
</center>