# Class 4: Descriptive statistics continued and array computations

In this notebook we will continue learning about descriptive statistics, and we will start learning how to do computations on arrays of data.

## Notes on the class Jupyter setup

If you have the *ydata123_2024a* environment set up correctly, you can get the class code using the code below (which presumably you've already done given that you are seeing this notebook).

In [54]:
import YData

# YData.download.download_class_code(4)   # get class 4 code    

# YData.download.download_class_code(4, True) # get the code with the answers

There are also similar functions to download the homework:

In [55]:
YData.download.download_homework(1)  # downloads the first homework if you have not done so already

The file `homework_01.ipynb` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

If you are using colabs, you should install polars and the YData packages by uncommenting and running the code below.

In [56]:
# !pip install https://github.com/emeyers/YData_package/tarball/master

If you are using google colabs, you should also uncomment and run the code below to mount the your google drive

In [57]:
# from google.colab import drive
# drive.mount('/content/drive')

## Review: NBA Salaries

Let's continue to look a salaries and other information about basketball players in the NBA! The data we will analyze contains infomraiton about each player including their salary from the 2022-2023 season listed in millions of dollars.  

We will load the data as a "pandas DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists and dictionaries to explore it further. 

This table can be found online: https://www.gigasheet.com/sample-data/nba-player-salaries-2022-23-season

In [58]:
# download the data
import YData
YData.download.download_data("nba_salaries_2022_23.csv")

The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

In [59]:
# load the data and display the first 6 rows

import pandas as pd

nba = pd.read_csv("nba_salaries_2022_23.csv")  # load in the data

nba.head()  # show the first 6 rows

            PLAYER POSITION           TEAM     SALARY
0  De'Andre Hunter       SF  Atlanta Hawks   9.835881
1    Jalen Johnson       SF  Atlanta Hawks   2.792640
2       AJ Griffin       SF  Atlanta Hawks   3.536160
3    Trent Forrest       SG  Atlanta Hawks   0.508891
4     John Collins       PF  Atlanta Hawks  23.500000

In [60]:
# extract the salaries and the player positions as lists

salary_list = nba["SALARY"].to_list()
team_list = nba["TEAM"].to_list()

Can you calculate what proportion of players play on the Boston Celtics?

Can you create a bar plot showing the number of players on the Boston Celtics, New York Knicks and Golden State Warriors?

In [61]:
# create a list of counts of players on the three teams

In [62]:
# Let's also create a list of the team names

In [63]:
# We can use matplotlib to visualize the data.. 

import matplotlib.pyplot as plt
%matplotlib inline

In [64]:
# Create a bar chart of how many players are on each team. Be sure to label your axes!

## Quantitative data: statistics and plots

Quantitative data is numeric data (e.g., ints and floats).
- We can visualize quantitative data using histograms and boxplots. 
- The main statistics we use to sumarize the central tendency of quantitative data are the mean and the median.  

Let's explore this using the NBA salary data...

In [65]:
# plot a histogram of NBA salaries

In [66]:
# What is the average salary?

In [67]:
# we can also use the statistics module to calculate statistics 
import statistics

In [68]:
# get the mean using the statistics package

In [69]:
# get the median using the statistics package

In [70]:
# plot the mean and the median on top of a histogram of salaries

## Outliers 

An outlier is an observed value that is notably distinct from the other values in a dataset by being much smaller or larger than the rest of the data. Outliers can potentially have a large influence on the statistics you calculate!

One should examine outliers to understand what is causing them:
- If there are due to an error, remove them.
- Otherwise, need to think about how to treat them. 
  - Could be an interesting phenomenon. 
  - on
Could restrict data to a particurange of values.
  - etc.

In [71]:
# Some fake data

In [72]:
# Get the mean

In [73]:
# Get the median

## Visualizing two quantitative variables

Let's create line plots and scatter plots to visualize daily bike trips using NYC CitiBike data....

In [74]:
# Download the CitiBike data
YData.download.download_data('daily_bike_totals.csv')

The file `daily_bike_totals.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

In [75]:
# Load the CitiBike data

import pandas as pd

bikes = pd.read_csv('daily_bike_totals.csv', parse_dates = [0])

bikes.head()

,date,trips,precipitation,snow_depth,snowfall,max_temperature,min_temperature,average_wind_speed,dow,year,month,holiday,stations_in_service,weekday,weekday_non_holiday
0,2013-07-01,16650,0.838583,0.0,0.0,77.00,71.96,3.13171,1,2013,7,False,NaN,True,True
1,2013-07-02,22745,0.078740,0.0,0.0,82.04,71.96,2.68432,2,2013,7,False,NaN,True,True
2,2013-07-03,21864,0.531496,0.0,0.0,82.94,73.04,4.25018,3,2013,7,False,NaN,True,True
3,2013-07-04,22326,0.000000,0.0,0.0,87.08,75.02,4.25018,4,2013,7,True,NaN,True,False
4,2013-07-05,21842,0.000000,0.0,0.0,89.96,75.92,4.92126,5,2013,7,False,NaN,True,True

In [76]:
# Extract the data to lists
dates = bikes['date'].to_list()
min_temp = bikes['min_temperature'].to_list()
max_temp = bikes['max_temperature'].to_list()

In [77]:
# Create a line plot of the number of trips as a function of the date

In [78]:
# Create a scatter plot of the maximum temperature as a funciton of the minimum temperature

<br>
<br>
<br>
<center>
<img src="https://pbs.twimg.com/media/DukTkwZWsAE7s0o?format=jpg&name=small" width="300"/>
</center>

## Creating Arrays

Often we want to process data that is all of the same type. For example, we might want to do processing on a data set of numbers (e.g., if we were just analyzing salary data). 

When we have data that is all of the same type, there are faster ways to process data than using a list. In Python, the `numpy` package offers ways to store and process data that is all of the same type using a data structure called a `ndarray`. There are also functions that operate on `ndarrays` that can do computations very efficiently. 

Let's explore this now!

In [79]:
# import the numpy package
import numpy as np

In [80]:
# create an ndarry of numbers

In [81]:
# we can get the type of elements in an array by accessing the dtype property

In [82]:
# get the size of the array

In [83]:
# create an array of strings

In [84]:
# get the type in the string array (U stands for Unicode)

In [85]:
# create a boolean array

In [86]:
# get the type in the boolean array

In [87]:
# what happens if we make an array from a list of mixed values

In [88]:
# get the dtype

In [ ]:
# create sequential numbers 1 to 9

## NumPy functions on numerical arrays

The NumPy package has a number of functions that operate very efficiently on numerical ndarrays.

Let's explore these functions by looking at the price of gas!

The data comes from: https://www.eia.gov/opendata/v1/qb.php?category=240692&sdid=PET.EMM_EPM0_PTE_NUS_DPG.W

In [89]:
# download the data
YData.download.download_data('US_Gasoline_Prices_Weekly.csv')

The file `US_Gasoline_Prices_Weekly.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

In [90]:
# read in and view the data
import pandas as pd
gas_data = pd.read_csv("US_Gasoline_Prices_Weekly.csv", parse_dates=[0])  # load in the data
gas_data.head()

        Week  DollarsPerGallon
0 2024-01-15             3.058
1 2024-01-08             3.073
2 2024-01-01             3.089
3 2023-12-25             3.116
4 2023-12-18             3.053

In [91]:
# Get an ndarray of the gas prices from each week of 2023
# You can ignore this code for now...

gas_data_2023 = gas_data[(gas_data['Week'] > '2023-01-01') & (gas_data['Week'] < '2024-01-01')] 

gas_prices_2023 = gas_data_2023["DollarsPerGallon"].values
gas_dates_2023 = gas_data_2023["Week"].values

In [92]:
# prices for all 52 weeks in 2022

In [93]:
# One dollar is currently 147 Yen. What has been the price of a gallon of gas cost in Yen? 
# What have gas prices been in Euros?

In [94]:
# what if there was a constant tax of $2 on each gallon purchased?

In [95]:
# basic functions of: min, max, etc.

In [96]:
# if you bought one gallon each week, what would you pay over the whole year?

In [97]:
# what do you pay on average?

In [98]:
# If you bought one gallon each week, how much would you pay at the end of each of the weeks of the year?

In [99]:
# How much does the gas price go up and down each week?

In [100]:
# plot the gas prices

In [101]:
# plot the gas prices better!

<br>
<br>
<br>
<p>
<center><img src=https://cdn.quotesgram.com/img/69/59/1803591020-high-gas-prices.jpg></center>

## Boolean arrays

We can easily compare all values in an ndarray to a particular value. The result will return an ndarray of Booleans. 

Since Boolean `True` values are treated as 1's, and Boolean `False` values are treated as 0's, this makes it easy to see how many values in an array meet particular conditions.

In [102]:
# Test all values in an array that are less than 5
my_array = np.array([12, 4, 6, 3, 4, 3, 7, 4])

In [103]:
# How many values are less than 5.

In [104]:
# How many (and what proportion) of weeks in 2023 were gas prices were below $3.50?

### What proportion of NBA players are centers? 

The data from the 2022-2023 season is loaded below and ndarrays for players positions and salaries are created. 

See if you can use this data to calculate the proportion of NBA players that are centers using numpy!

In [105]:
# Load the NBA data as a polars data frame
nba = pd.read_csv("nba_salaries_2022_23.csv")  # load in the data
nba.head()

# Extract ndarrays for salary and position 
salary_array = nba["SALARY"].values
position_array = nba["POSITION"].values

print(salary_array[0:5])
print(position_array[0:5])

[ 9.835881  2.79264   3.53616   0.508891 23.5     ]
['SF' 'SF' 'SF' 'SG' 'PF']

In [106]:
# get the proportion of players that are centers

## Boolean indexing/masking

We can also use Boolean arrays to return values in another array. This is called "Boolean masking" or "Boolean indexing".

In [107]:
# Calculate the average salary of NBA centers