# Class 9: DataFrames continued

Plan for today:
- Review of pandas Series
- Continue with pandas DataFrames

## Notes on the class Jupyter setup

If you have the *ydata123_2023e* environment set up correctly, you can get the class code using the code below (which presumably you've already done given that you are seeing this notebook).

In [2]:
import YData

# YData.download.download_class_code(9)   # get class code    

# YData.download.download_class_code(9, TRUE) # get the code with the answers 

YData.download.download_data("dow.csv")
YData.download.download_data("monthly_egg_prices.csv")
YData.download.download_data("monthly_wheat_prices.csv")
YData.download.download_data("nba_salaries_2015_16.csv")
YData.download.download_data("nba_position_names.csv")

The file `dow.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `monthly_egg_prices.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `monthly_wheat_prices.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `nba_salaries_2015_16.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `nba_position_names.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

There are also similar functions to download the homework:

In [3]:
YData.download.download_homework(4)  # downloads the homework

If you are using colabs, you should install polars and the YData packages by uncommenting and running the code below.

In [ ]:
# !pip install https://github.com/emeyers/YData_package/tarball/master

If you are using google colabs, you should also uncomment and run the code below to mount the your google drive

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [20]:
import pandas as pd
import statistics
import numpy as np
from datetime import datetime

import matplotlib.pyplot as plt
%matplotlib inline

## Review of pandas Series

pandas Series are: One-dimensional ndarray with axis labels

pandas DataFrame are: Table data

Let's look at the egg and wheat price data...

In [4]:
egg_price_series = pd.read_csv("monthly_egg_prices.csv", parse_dates=True, index_col= "DATE").squeeze() 

# print the type
print(type(egg_price_series))

# print the shape
print(egg_price_series.shape)

# print the series
egg_price_series

<class 'pandas.core.series.Series'>
(516,)

DATE
1980-01-01    0.879
1980-02-01    0.774
1980-03-01    0.812
1980-04-01    0.797
1980-05-01    0.737
              ...
2022-08-01    3.116
2022-09-01    2.902
2022-10-01    3.419
2022-11-01    3.589
2022-12-01    4.250
Name: Price, Length: 516, dtype: float64

## Warm-up problems

**Problem 1:** What was the price of eggs on December 1st, 1999?

In [1]:
# What is the price of eegs on December 1st, 1999?

**Problem 2:**  What is the value of the 50th egg price in our Series of egg prices?

In [2]:
# What is the value of the 50th egg price in our Series?

In [3]:
# What is the average egg price over the whole data set?

**Problem 3:**  Can you calculate the average egg price since Jan 1st 2000? 

Hints: 
- You can access the index values using `my_df.index`
- Boolean masking could be useful (and here you can treat dates as strings)

In [4]:
# What is the average egg price since January 1st 2000

Recall, we can turn the index back into a column using `my_series.reset_index()`

This turns our Series into returns a DataFrame!

Let's explore DataFrames more now...

In [5]:
# Use .reset_index() to turn the Index into a column in a DataFrame

egg_price_df = ...

## DataFrames!

The ability to manipulate data in tables (DataFrames) is one of the most useful skills in Data Science. 

Pandas is the most popular package in Python for manipulating data tables so we will use this package for manipulating tables in this class. The syntax for Pandas can be a little tricky, so try to be patient if you run into errors, and as always, there should be plenty of help available at office hours and on Ed. 

As an example, let's look at data on the closing price of the [Dow Jones Industrial Average](https://www.marketwatch.com/investing/index/djia) which is an index of the prices of the 30 largest corporations in the US.

The code below loads the DOW data into a Pandas DataFrame and displays the first 5 rows using the `head()` method.

In [21]:
dow = pd.read_csv("dow.csv", parse_dates=True)  # parsing the dates didn't work

dow = dow.set_index("Date")

dow.head()  # we can get the last few rows using .tail()

         Year  Month        Day      Open      High       Low     Close
Date
1/25/23  2023      1  Wednesday  33538.36  33773.09  33273.21  33743.84
1/24/23  2023      1    Tuesday  33444.72  33782.92  33310.56  33733.96
1/23/23  2023      1     Monday  33439.56  33782.88  33316.25  33629.56
1/20/23  2023      1     Friday  33073.46  33381.95  32948.93  33375.49
1/19/23  2023      1   Thursday  33171.35  33227.49  32982.05  33044.56

In [6]:
# get the shape, and dtypes

In [8]:
# get descriptive statistics on DataFrame using the .describe() method

### Selecting columns from a DataFrame

We can select columns from a DataFrame using the square brackets; e.g., `my_df["my_col"]`

If we'd like to select multiple columns we can pass a list; e.g., `my_df[["col1", "col2"]]`

In [9]:
# Get just the DOW close price

In [10]:
# Get both the open and close price



# what is the type of close_price? (use type() and .dtypes)

### Getting a subset of rows from a DataFrame

Similar to pandas Series, we can get particular rows from a DataFrame using:

- `.loc`:  Get rows by Index values - and by Boolean masks
- `.iloc`.:  Get rows by their index number

In [11]:
# Extract a row based on the Index name "1/25/23"

In [ ]:
# Extract a row based on the row number (get row 0)

In [13]:
# We can get multiple rows that meet particular conditions using Boolean masking

In [14]:
# extract the 2022 values using our Boolean mask

In [15]:
# Can you get the mean DOW close value in 2022?

### Sorting values in a DataFrame

We can sort values in a DataFrame using `.sort_values("col_name")`

We can sort from highest to lowest by setting the argument `ascending = False`

In [16]:
# Sort the data by the Close value

In [17]:
# What is the highest the DOW has been?

### Adding new columns to a Data Frame

We can add a column to a data frame using square backets. For example: 

- `my_df["new col"] = my_df["col1"] + my_df["col2"]`.

Percent change is defined as: $100 * \frac{final - initial}{initial}$

Can you add a "Percent change" column to the dow2 data (which is a copy of the dow data comparing closing and opening prices?  What is the biggest percent change in the dow?

In [22]:
# copy the data to dow2
dow2 = dow.copy()

# add percent change column




# sort the data

In [23]:
# sort the data from largest to smallest





# This is actually not historically correct for older dates.

We can rename columns by:
1. Creating a `rename_dictionary` dictionary that maps old column names to new column names
2. By passing this dictionary to the `my_df.rename(columns = rename_dictionary)` method

In [24]:
# Rename the Percent change column

### Getting aggregate statistics by group

We can get aggregate statistics by group using `groupby()` and `agg` methods using the following syntax:

`my_df.groupby("col_name").agg("agg_function_name")`

Can you get the max values of the DOW each year?

In [25]:
# What was the max values of the DOW each year?

There are several ways to get multiple statistics by group. Perhaps the most useful way is to use the syntax:

<pre>
my_df.groupby("group_col_name").agg(
   new_col1 = ('col_name', 'statistic_name1'),
   new_col2 = ('col_name', 'statistic_name2'),
   new_col3 = ('col_name', 'statistic_name3')
)
</pre>


Let's create a DataFrame that has the number of trading days, the minimum and the maximum DOW value for each year.

In [26]:
# Calculate the count, min, and max for the DOW Close value

### "Joining" DataFrames by Index

To explore joining DataFrames, let's load the egg and wheat prices as DataFrames. 

We will also:
- Rename the Price colomns to Egg Price and Wheat Price
- Set the Index to be the date


When two DataFrames have the same Index values, we can use the `.join()` method to join them.

In [27]:
# load the egg prices as a DataFrame

egg_price_df = pd.read_csv("monthly_egg_prices.csv", parse_dates=True, index_col= "DATE")
egg_price_df = egg_price_df.rename(columns = {"Price":"Egg Price"})
egg_price_df.head(3)

            Egg Price
DATE
1980-01-01      0.879
1980-02-01      0.774
1980-03-01      0.812

In [28]:
# Also load the wheat prices as a DataFrame

wheat_price_df = pd.read_csv("monthly_wheat_prices.csv", parse_dates=True, index_col= "DATE")
wheat_price_df = wheat_price_df.rename(columns = {"Price":"Wheat Price"})
wheat_price_df.head(3)

            Wheat Price
DATE
1990-01-01   167.918579
1990-02-01   160.937271
1990-03-01   156.528030

In [30]:
# Let's do a left join by setting how = "left"
# This will give same results as an outer join b/c the egg_price_df has all (and more) index values as the wheat_prices_df

In [31]:
# Let's do a right join by setting how = "right"  
# This will give same results as an inner join b/c the egg_price_df has all (and more) index values as the wheat_prices_df

### "Merging" DataFrames by column values

If we want to join by value in a column rather than by Index value we can use the `.merge()` method (which is very similar to the `.join()` method).

In [32]:
# reset the Index so that DATE is a column in our egg_price_df2 DataFrame

egg_price_df2 = ...

In [33]:
# reset the Index so that DATE is a column in our wheat_price_df2 DataFrame

wheat_price_df2 = ...

In [34]:
# left join the egg_price_df2 with the wheat_price_df2 using the .merge() method
left_joined2 = ...

#### Merging with different column names

What if the columns we want to join on have different names, we can use the `left_on` and `right_on` arguments to specify which columns (i.e., keys) should be used to align the two DataFrames

In [83]:
# rename the columns in our DataFrames to be Egg DATESand Wheat DATE

egg_price_df3 = egg_price_df2.rename(columns = {"DATE":"Egg DATE"})
wheat_price_df3 = wheat_price_df2.rename(columns = {"DATE": "Wheat DATE"})

wheat_price_df3.head(3)

  Wheat DATE  Wheat Price
0 1990-01-01   167.918579
1 1990-02-01   160.937271
2 1990-03-01   156.528030

In [84]:
egg_price_df3.head(3)

    Egg DATE  Egg Price
0 1980-01-01      0.879
1 1980-02-01      0.774
2 1980-03-01      0.812

In [35]:
# left join the data frames with the different column names using .merge() 

left_joined3 = ...

#### Example: Spelling out NBA position names

As you will recall, our NBA salaries DataFrame had the different positions listed as abbreviations such as "C" and "PG". 

Often it is hard to tell what these abbreviations (or codes) mean, so a common use of joining is to join on to a table a list of longer names that give more meaning to abbreviations. 

Below we load our `nba_salaries` DataFrame along with a `nba_positions` DataFrame which has information about how each position abbreviation maps on to the position's full name.

Let's merge these DataFrames together so that our `nba_salaries` DataFrame has the full position names!

In [87]:
nba_salaries = pd.read_csv("nba_salaries_2015_16.csv")

nba_salaries.head(3)

           PLAYER POSITION           TEAM     SALARY
0    Paul Millsap       PF  Atlanta Hawks  18.671659
1      Al Horford        C  Atlanta Hawks  12.000000
2  Tiago Splitter        C  Atlanta Hawks   9.756250

In [88]:
nba_positions = pd.read_csv("nba_position_names.csv")
nba_positions

  Position Abbreviation   Position Name
0                    PF     Point Guard
1                    SG  Shooting Guard
2                     C          Center
3                    SF   Small Forward
4                    PF   Power Forward

In [36]:
# merge the DataFrames together so each player's position is the full position name

In [37]:
# remove unnecessary columns using the .drop(colums = )  method

![pandas](https://image.goat.com/transform/v1/attachments/product_template_additional_pictures/images/071/445/310/original/719082_01.jpg.jpeg)