# Class 6: Array computations

In this notebook we explore computations on arrays of data.

In [2]:
import YData

# YData.download.download_class_code(6)   # get class 6 code    

# YData.download.download_class_code(6, True) # get the code with the answers

There are also similar functions to download the homework:

In [3]:
YData.download_homework(3)  # downloads the third homework if you have not done so already

The file `homework_03.ipynb` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

If you are using Google Colabs, you should install the YData package and mount Google Drive by uncommenting and running the code below.

In [3]:
# !pip install https://github.com/emeyers/YData_package/tarball/master
# from google.colab import drive
# drive.mount('/content/drive')

## 0. Warm-up exercises: NBA salaries

Let's do some warm-up exercises by looking at statistics of basketball players in the NBA! The data we will analyze contains infomration about each player including their salary from the 2022-2023 season listed in millions of dollars. This table can be found online: https://www.kaggle.com/datasets/jamiewelsh2/nba-player-salaries-2022-23-season

We will load the data as a "pandas DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists to explore it further. The lists we are creating are:

- `name_list`: A list of the basketball players' names
- `salary_list`: A list of salaries
- `position_list`: A list of the positions each player plays
- `team_list`: A list of which team each player is on
- `points_per_game_list`: A list showing the average number of points each player scored per game

In [82]:
# load the data and display the first 6 rows

import YData
import pandas as pd

YData.download_data("nba_salaries_2022_23_all.csv")
nba = pd.read_csv("nba_salaries_2022_23_all.csv")  # load in the data

nba[["Player Name", "Salary", "Position", "Team", "PTS"]].head()  # show the first 6 rows

The file `nba_salaries_2022_23_all.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

             Player Name    Salary Position     Team   PTS
0          Stephen Curry  48070014       PG      GSW  29.4
1              John Wall  47345760       PG      LAC  11.4
2      Russell Westbrook  47080179       PG  LAL/LAC  15.9
3           LeBron James  44474988       PF      LAL  28.9
4           Kevin Durant  44119845       PF  BRK/PHO  29.1
5           Bradley Beal  43279250       SG      WAS  23.2
6          Kawhi Leonard  42492492       SF      LAC  23.8
7            Paul George  42492492       SF      LAC  23.8
8  Giannis Antetokounmpo  42492492       PF      MIL  31.1
9         Damian Lillard  42492492       PG      POR  32.2

In [79]:
# extract the salaries and the player positions as lists

name_list = nba["Player Name"].to_list()
salary_list = nba["Salary"].to_list()
position_list = nba["Position"].to_list()
team_list = nba["Team"].to_list()
points_per_game_list = nba["PTS"].to_list()

### Warm-up exercise 1: Categorical analyses

Can you do the following:
- Calculate the proportion of players who play on the Boston Celtics ("BOS")?

If you finish the other warm-up exercises, you can also try creating a bar plot showing the number of players on the Boston Celtics ("BOS"), New York Knicks ("NYK") and Golden State Warriors ("GSW").

In [22]:
# Proportion of players on the Celtics ("BOS")

0.034261241970021415

In [1]:
# If you finish the other warm-up exercies, you can create a bar plot showing the number of players on "BOS", "NYK", and "GSW"

import matplotlib.pyplot as plt
%matplotlib inline

# Create a list of counts of players on the three teams




# Create the team names




# Create a bar chart of how many players are on each team. Be sure to label your axes!

### Warm-up exercise 2: One quantitative variable analyses

Can you do the following:

1. Create a histogram of the player salaries
2. Calculate the mean salary, the median salary, and the standard deviation of salaries
3. Calcualte the z-score for the first player's salary (i.e., Stephen Curry's salary)

In [2]:
# Plot a histogram of NBA salaries

In [3]:
import statistics

# mean salary




# median salary




# standard deviation of salaries

In [4]:
# z-score for the first player's salary (i.e., z-score for Stephen Curry's salary)

### Warm-up exercise 3: Two-quantitative variables

Can you do the following:

1. Create a scatter plot of salary as a function of the points scored per game
2. Guess what you believe correlation is between salary and points per game, and then calculate the correlation to see if your guess was close.

In [5]:
# guess the correlation and then calculate it

## 1. Creating Arrays

Often we want to process data that is all of the same type. For example, we might want to do processing on a data set of numbers (e.g., if we were just analyzing salary data). 

When we have data that is all of the same type, there are faster ways to process data than using a list. In Python, the `numpy` package offers ways to store and process data that is all of the same type using a data structure called a `ndarray`. There are also functions that operate on `ndarrays` that can do computations very efficiently. 

Let's explore this now!

In [39]:
# import the numpy package
import numpy as np

In [6]:
# create an ndarry of numbers

In [8]:
# we can get the type of elements in an array by accessing the dtype property

In [9]:
# get the size of the array

In [10]:
# create an array of strings

In [11]:
# get the type in the string array

In [12]:
# create a boolean array

In [13]:
# get the type in the boolean array

In [14]:
# what happens if we make an array from a list of mixed values

In [15]:
# get the dtype

In [17]:
# get the 0th element of the mixed_array

In [18]:
# get the type of the 0th element

In [19]:
# is the 0th element equal to the integer 1?

In [20]:
# is the 0th element equal to the string '1'?

In [16]:
# create sequential numbers 1 to 9

## 2. NumPy functions on numerical arrays

The NumPy package has a number of functions that operate very efficiently on numerical ndarrays.

Let's explore these functions by looking at the price of gas!

The data comes from: https://www.eia.gov/opendata/v1/qb.php?category=240692&sdid=PET.EMM_EPM0_PTE_NUS_DPG.W

In [41]:
# If loading the data using pandas_datareader.fred, you can uncomment this code and load this data

##  Download the data - code based on a fixed .csv file
#YData.download.download_data('US_Gasoline_Prices_Weekly.csv')
#import pandas as pd
#gas_data = pd.read_csv("US_Gasoline_Prices_Weekly.csv", parse_dates=[0])  # load in the data
#gas_data.head()
#gas_data_2023 = gas_data[(gas_data['Week'] > '2023-01-01') & (gas_data['Week'] < '2024-01-01')] 
#gas_prices_2023 = gas_data_2023["DollarsPerGallon"].values
#gas_dates_2023 = gas_data_2023["Week"].values

The file `US_Gasoline_Prices_Weekly.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

In [22]:
# Read in the price of gas directly from the FRED

from pandas_datareader.fred import FredReader

gas_data = FredReader("GASREGW", start='2019-06-01', end='2024-09-01').read().reset_index() 

gas_data_2023 = gas_data[(gas_data['DATE'] > '2023-01-01') & (gas_data['DATE'] < '2024-01-01')] 

gas_data_2023.head()

          DATE  GASREGW
187 2023-01-02    3.223
188 2023-01-09    3.259
189 2023-01-16    3.310
190 2023-01-23    3.415
191 2023-01-30    3.489

In [23]:
# Get an ndarray of the gas prices from each week of 2023
# You can ignore this code for now...

gas_prices_2023 = gas_data_2023["GASREGW"].values
gas_dates_2023 = gas_data_2023["DATE"].values

In [24]:
# prices for all 52 weeks in 2022

In [25]:
# One dollar is currently 141 Yen. What has been the price of a gallon of gas cost in Yen? 
# What have gas prices been in Euros?

In [26]:
# what if there was a constant tax of $2 on each gallon purchased?

In [27]:
# basic functions of: min, max, etc.

In [28]:
# if you bought one gallon each week, what would you pay over the whole year?

In [29]:
# what do you pay on average?

In [30]:
# If you bought one gallon each week, how much would you pay at the end of each of the weeks of the year?

In [31]:
# How much does the gas price go up and down each week?

In [32]:
# plot the gas prices

In [33]:
# plot the gas prices better!

<br>
<br>
<br>
<p>
<center><img src=https://cdn.quotesgram.com/img/69/59/1803591020-high-gas-prices.jpg></center>

## 3. Boolean arrays

We can easily compare all values in an ndarray to a particular value. The result will return an ndarray of Booleans. 

Since Boolean `True` values are treated as 1's, and Boolean `False` values are treated as 0's, this makes it easy to see how many values in an array meet particular conditions.

In [34]:
# Test all values in an array that are less than 5

In [35]:
# How many values are less than 5?

In [36]:
# How many (and what proportion) of weeks in 2023 were gas prices were below $3.50?

### Example: What proportion of movies passed the Bechdel test revisited 

Let's calculate (again) the proportion of movies that passed the Bechdel test, but this time using numpy array computations. 

The code below loads the Bechdel data, and we will focus on the `bechdel` list, which is a list of strings saying whether movies passed ('PASS') or failed ('FAIL') the Bechdel test.

In [59]:
import YData
import pandas as pd

YData.download_data("movies.csv")

movies = pd.read_csv("movies.csv")
col_names_to_keep = ['year', 'imdb', 'title', 'clean_test', 'binary', 'budget',
       'domgross', 'budget_2013', 'domgross_2013', 'decade_code', 'imdb_id',
       'rated', 'imdb_rating', 'runtime',  'imdb_votes']
movies =   movies[col_names_to_keep]

movies.dropna(axis = 0, how = 'any', inplace = True, subset=col_names_to_keep[0:9])


# get lists of data for our data analysis
title = movies["title"].to_list()
bechdel = movies["binary"].to_list()
bechdel_reason = movies["clean_test"].to_list()

domgross_2013 = movies["domgross_2013"].to_list()
budget_2013 = movies["budget_2013"].to_list() 
year = movies["year"].to_list()


bechdel[0:5]

['FAIL', 'PASS', 'FAIL', 'FAIL', 'FAIL']

In [46]:

# convert the list to an ndarray




# create a Boolean array of that is True for movies that passed the Bechdel test




# calculate the proportion of movies that passed the Bechdel test



# alternatively, we can use the np.mean() function

## 4. Boolean subsetting/indexing/masking

We can also use Boolean arrays to return values in another array. This is referred to as "Boolean Subsetting", Boolean masking" or "Boolean indexing"

In [41]:
# initial array
my_array = np.array([12, 4, 6, 3, 4, 3, 7, 4])


# create Boolean array for values less than 5



# get values of my_array that are less than 5

### Example: calculate the average revenue for movies that passed the Bechdel test

In [66]:
# Calculate the average revenue for movies that passed the Bechdel test 

# create an ndarray of revenues



# use the boolean mask to extract movies the pass the Bechdel test



# get the average revenue of movies that passed the Bechdel test

794

79591918.51259446

## 5. Percentiles

The Pth percentile is the value of a quantitative variable which is greater than P percent of the data. 

We can calculate percentiles using the numpy function `np.percentile()`

Let's calculate the 25th, 50th, and 75th percentile for the Bechdel movie revenue data.

In [42]:
## Get the 25th, 50th and 75th percentile of movie revenues

Question: What is another way to calculate the 50th percentile?

Other commonly calculated statistics include:

- Five Number Summary = (minimum, Q1, median, Q3, maximum)
- Range = maximum – minimum
- Interquartile range (IQR) = Q3 – Q1

Where:
- Q1 = 25th percentile
- Q3 = 75th percentile

Let's calculate these for the Bechdel revenue data...

In [95]:
# Range

1771681891.0

In [43]:
# Interquartile range (IQR)





# Alternatively

In [44]:
# Five number summary





# Alternatively

## 5. Box plots

A box plot is a graphical display of the five-number summary and consists of:

   1. Drawing a box from Q1  to Q3   

   2. Dividing the box with a line (or dot) drawn at the median

   3. Draw a line from each quartile to the most extreme data value that is not and outlier

   4. Draw a dot/asterisk for each outlier data point.


Create a side-by-side boxplot showing the revenue of movies that passed and failed the Bechdel test

In [45]:
# get the movies that failed the Bechdel test



# create a side-by-side boxplot showing the revenue of movies that passed and failed the Bechdel test