# Homework 1: Intro to Python

Welcome to homework 1!  Please complete this notebook by filling in the cells provided.


**Required Reading:**
- [Excerpt from "Data and the American Dream"](https://github.com/emeyers/YData/raw/main/ClassMaterial/reading/data_and_the_american_dream_reading.pdf)


**Recommended Reading:**
- [What is Data Science](http://www.inferentialthinking.com/chapters/01/what-is-data-science.html)
- [Programming in Python](http://www.inferentialthinking.com/chapters/03/programming-in-python.html)

For all problems that you must write explanations and sentences for, please provide your answer in the designated space. Moreover, throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook! For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. 

**Deadline:**

This assignment is due **Sunday January 29th at 11pm.** You can turn in the assignment up to 24 hours late for 90% credit (after that, the homework will only be accepted with a dean's excuse). 

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. Refer to the policies page to learn more about how to learn cooperatively.

You should start early so that you have time to get help if you're stuck. The drop-in office hours schedule can be found on [Canvas](https://yale.instructure.com/courses/84847/pages/office-hours).  You can also post questions or start discussions on [Ed Discussion](https://edstem.org/us/courses/30902/discussion/).


**Submission:**

Submit your assignment as a .pdf on Gradescope. You can access Gradescope through Canvas on the left-side of the class home page. The problems in each homework assignment are numbered. **NOTE:** When submitting on Gradescope, please select the correct pages of your pdf that correspond to each problem. Failure to mark pages correctly will result in points being deducted from your homework score.

If you are running Jupyter Notebooks through an Anaconda installation on your own computer, you can produce the .pdf by completing the following steps:  
1.  Go to "File" at the top-left of your Jupyter Notebook
2.  Under "Download as", select "HTML (.html)"
3.  After the .html has downloaded, open it and then select "File" and "Print" (note you will not actually be printing)
4.  From the print window, select the option to save as a .pdf

If you are running the assignment in a Google Colabs, you can use the following instructions: 
1.  Go to "File" at the top-left of your Jupyter Notebook and select "File" and "Print" (note you will not actually be printing)
2. From the print window, select the option to save as a .pdf
3. Be sure to look over the pdf file to make sure all your code and written work is saved in a clear way.

## Getting started

In order to complete the homework it is necessary to download a few files. Please run the code below **only once** to download data needed to complete the homework. To run the code, click in the cell below and press the play buttom (or press shift-enter).

In [3]:
# Please run this code once to download the files you will need to complete the homework 

import YData 

YData.download.download_data("ACS_2017_sample_01.csv")

The file `ACS_2017_sample_01.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.
The file `ACS_2017_sample_02.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

## 1. The American Community Survey (ACS)

The book "Data and the American Dream" by Matthew Holian replicates results from several published papers that analyzed the American Community Survey (ACS). Please read the excerpt from this book [found here](https://github.com/emeyers/YData/raw/main/ClassMaterial/reading/data_and_the_american_dream_reading.pdf) in order to understand the ACS dataset, which is a dataset we will use on this, and a few subsequent homework assignments. 

While you are reading, please also write down one quote that you find interesting from the chapter. Then in the space below, write down the quote as well as a one paragraph description for why you thought the quote was interesting.

**Question 1.1 (8 points)**  Please write down your "quote and reaction" here.

*Quote:*  ...

Reaction: ...

**Question 1.2 (3 points):** Is the ACS dataset experimental or observational data? Please assign either 1, or 2 to the name `acs_q1` below to indicate your choice. 

1. The ACS is observational data
2. The ACS is experimental data

In [2]:
acs_q1 = ...

**Question 1.3 (3 points):** Which statement is most accurate about conclusions that can be drawn from the ACS data? Please assign either 1, 2, or 3, to the name `acs_q2` below to indicate your choice. 

1. One can draw causal conclusions from the ACS data
2. One can come up with theories about causal relationships that might exist but one needs experimental data to be sure there is a causal relationship 
3. One can not get an insights into causal relationships from this data.

In [3]:
acs_q2 = ...

**Question 1.4 (3 points):** Please write down 3 *interesting* quesitons that could potentially be addressed using the ACS data.

**ANSWER**: 

1. ...

2. ...

3. ...

## 2. Names, Assignment Statements and Error Messages

Let's now start looking at Python programming! 

When programming in Python one often makes mistakes which leads to the Python interpreter returning an error message. While at first these might look scary, soon you should be able to make sense of what the message is telling you and learn how to fix your code to remove the mistakes. 

Let's start by exploring some error messages! Please look at the code below and answer the question about what is causing the error message.

**Question 2.1 (3 points)** When you run the following cell, Python produces a cryptic error message.

In [5]:
4 = 2 + 2

SyntaxError: ignored

Choose the best explanation of what's wrong with the code, and then assign 1, 2, 3, or 4 to `names_q1` below to indicate your answer.

1. Python is smart and already knows `4 = 2 + 2`.

2. `4` is already a defined number, and it doesn't make sense to make a number be a name for something else. In Python, "`x = 2 + 2`" means "assign `x` as the name for the value of `2 + 2`."

3. It should be `2 + 2 = 4`.

4. I don't get an error message. This is a trick question.

In [ ]:
names_q1 = ...

**Question 2.2 (3 points)** When you run the following cell, Python will produce another cryptic error message.

In [4]:
two = 3
six = two plus two

SyntaxError: ignored

Choose the best explanation of what's wrong with the code and assign 1, 2, 3, or 4 to `names_q2` below to indicate your answer.

1. The `plus` operation only applies to numbers, not the word "two".

2. The name "two" cannot be assigned to the number 3.

3. Two plus two is four, not six.

4. The name `plus` is not defined as an operator here.

In [ ]:
names_q2 = ...

**Question 2.3 (3 point)** When you run the following cell, Python will, yet again, produce another cryptic error message.

In [3]:
x = print(5)
y = x + 2

5

TypeError: ignored

Choose the best explanation of what's wrong with the code and assign 1, 2, 3, or 4 to `names_q3` below to indicate your answer.

1. You cannot add the letter x with 2.

2. The `print` operation is meant for displaying values to the programmer, not for assigning values.

3. Python doesn't want `y` to be assigned.

4. What error message?

In [2]:
names_q3 = ...

## 3. Basic statistics: Differences between Universities

**Question 3.1 (8 points)** Suppose you'd like to *quantify* how *dissimilar* two universities are, using three quantitative characteristics.  The US Department of Education data on [Yale](https://collegescorecard.ed.gov/school/?130794-Yale-University) and [Cal](https://collegescorecard.ed.gov/school/?110635-University-of-California-Berkeley) describes the following three traits (among many others):

| Trait                                | Yale   | Cal    |
|--------------------------------------|--------|--------|
| Average annual cost to attend ($)    | 17,549 | 15,329 |
| Graduation rate (percentage)         | 97     | 93     |
| Socioeconomic Diversity (percentage) | 18     | 21     |

You decide to define the dissimilarity between two universities as the maximum of the absolute values of the 3 differences in their respective trait values.

Using this method, compute the dissimilarity between Yale and CAL.  Name the result `dissimilarity`. Use a single expression (a single line of code) to compute the answer.  Let Python perform all the arithmetic (like subtracting 97 from 93) rather than simplifying the expression yourself. Be sure that the final answer is printed out in the .pdf file you upload to show that you have the correct answer. 

Hint: The built-in `abs()` function takes absolute values.

## 4. Calculating statistics on the American Community Survey (ACS) data

In part 1 of this homework you read an excerpt from "Data and the American Dream" which described the American Community Survey (ACS) data. Let's now calculate some statistics on this data. 

The code below loads ACS data from 10,000 randomly sampled participants into a "polars DataFrame" which is a data structure that is useful for Table data (we will discuss polars DataFrames in a couple of weeks). There is also code that converts this data into Python lists, which hopefully you are now familiar with. In particular, the code creates three lists which are: 

- `incomes`: contains the household income for each of the 10,000 randomly selected participants
- `ages`: contains the ages for each of the 10,000 randomly selected participants
- `sex`: contains the sex for each of the 10,000 randomly selected participants

Note: these Python lists are in order, so that, for example, the first item of the `incomes` list comes from the same person as the first item in the `sex` list.

In [4]:
# This load the ACS data into a polars DataFrame. 
# The cell contains code that hasn't yet been covered in the course but we will discuss it soon. 

import polars as pl
acs_data1 = pl.read_csv("ACS_2017_sample_01.csv")
acs_data1.head()

shape: (5, 61)
┌──────┬────────┬─────────┬───────────────┬─────┬─────┬─────────┬──────┬──────────┐
│ YEAR ┆ SAMPLE ┆ SERIAL  ┆ CBSERIAL      ┆ ... ┆ SEI ┆ MOVEDIN ┆ QBPL ┆ QINCWAGE │
│ ---  ┆ ---    ┆ ---     ┆ ---           ┆     ┆ --- ┆ ---     ┆ ---  ┆ ---      │
│ i64  ┆ i64    ┆ i64     ┆ i64           ┆     ┆ i64 ┆ i64     ┆ i64  ┆ i64      │
╞══════╪════════╪═════════╪═══════════════╪═════╪═════╪═════════╪══════╪══════════╡
│ 2017 ┆ 201701 ┆ 250395  ┆ 2017000834943 ┆ ... ┆ 72  ┆ 7       ┆ 0    ┆ 0        │
│ 2017 ┆ 201701 ┆ 1062813 ┆ 2017000532479 ┆ ... ┆ 0   ┆ 5       ┆ 0    ┆ 0        │
│ 2017 ┆ 201701 ┆ 1235164 ┆ 2017001001296 ┆ ... ┆ 22  ┆ 4       ┆ 0    ┆ 0        │
│ 2017 ┆ 201701 ┆ 142278  ┆ 2017000769070 ┆ ... ┆ 68  ┆ 0       ┆ 0    ┆ 4        │
│ 2017 ┆ 201701 ┆ 954089  ┆ 2017000012970 ┆ ... ┆ 26  ┆ 0       ┆ 0    ┆ 0        │
└──────┴────────┴─────────┴───────────────┴─────┴─────┴─────────┴──────┴──────────┘

In [28]:
# This code converts polars DataFrame data into Python lists so that we can analyze the data
incomes = acs_data1["HHINCOME"].to_list()
ages = acs_data1["AGE"].to_list()
sex = acs_data1["SEX"].to_list()

**Question 4.1 (5 points)** To start, let's get a little sense of the data. To do this, simply print the first 5 values from the `incomes`, `ages` and `sex` lists. Be sure to print exactly 5 elements.

In [1]:
# print the incomes, ages and sex of the first 5 people (and exactly 5)

**Question 4.2 (9 points)** Let's now calculate some statistics on the ACS data. In particular, let's calculate the mean and the median of the `incomes` values. 

To calculate the values of mean and the median, we can use the `statistics` module which comes with version 3.11 of The Python Standard Library (if you are interested, a list of all the modules that come with version 3.11 of Python can be [found here](https://docs.python.org/3/library/)). The code below imports the `statistics` module, which will allow you to use the functions `statistics.mean()` and `statistics.median()` to calculate these statistics.

Use the code section below to calculate and print these statistics. Then, in the text answer section below, report:
1. The value of these statistics 
2. Which gives a better sense of what one might describe as the "typical" income
3. Give (the most compelling) reason for why these statistics appear to be quite different

In [2]:
import statistics

**ANSWERS**: 
    
1. ...
    
2. ...
    
3. ...

**Question 4.3 (8 points)** Let's now calculate the mean **`age`** in the data **without using the `mean()` or the `sum()` functions**. To do this use a for loop to sum all the values in the `ages` list, and then divide by the total number of items in the list to calculate the mean statistic value.

**Question 4.4 (8 points)** Now let's calculate the median **age** without using `median()` function. To do this, sort the values in the `ages` list using the list's `sort()` method, and then calculate the median from this sorted list. 

Note: the `list.sort()` method sorts the data "in place" where it overwrites the original data with the sorted data. If you wanted to keep the data in the original order, you would have to create a copy of the list using the lists' `copy()` method.

 ## Part 5: Dictionaries and the ACS
 
Let's continue with the ACS data and use dictionaries.

**Question 5.1 (3 points)** Let's now create a dictionary that we can use to understand how different levels of categorical data map on to their numeric codes. In particular, let's create a dictionary that maps the levels of the `CITIZEN` variable onto what each level means. 

Please look at Table A.4 on page 151 of the "Data and the American Dream" reading, which contains the codebook. Based on the information in this codebook, create a dictionary called `citizen_codebook`, where the keys of the dictionary are the numeric codes for each categorical variable level, and the values are the strings which specify what each level means. 

To do this, simply use the Python syntax for creating a dictionary, and type in the appropriate keys and values. Once you have created the dictionary, show that you have the correct dictionary by using the dictionary to print out the value of the key of 3. Also print out the full dictionary.

**Question 5.2 (7 points)** Let's now explore loop and conditional statements further by calculate how many people in our sample listed their sex as male, and how many listed their sex as female. 

To do this, start by created names `male_count` and `female_count`, and set both of these values to 0. Then use a for loop to go through each value in the `sex` list increasing `male_count` by 1 if the current person's sex is male, and increasing `female_count` by 1 if the current person's sex is female

Once you have calculated these values, please out the `male_count` and `female_count` values to "show your work".

**Question 5.3 (5 points)** Now let's calculate the averge "earned income" for males and females, where earned income is the amount of money made and individual makes from working (as opposed to investments, etc). 

The code below creates a list called `earned_incomes` which has the earned income from the 10,000 individuals that were in our ACS sample (Note: there is no missing data values in the list of values for earned income). To calculate the average earned income for each sex please do the following:

1. Create a name called `male_income` which initially has a value of 0, and likewise create a name called `female_income` which also initially has a value of 0.

2. Use a for loop that loops over each person and adds the person's income to the `male_income` name if the current person is male, or adds the person's income to the `female_income` name if the current person is female. 

3. Calculate the average income for males by dividing the sum total male income by the number of males in the data set (using the `male_count` values you created in quesiton 5.2 could be useful here). Do the same for females.

Be sure to print out the average income for males and for females below to "show your work". Then in the answer section below, report what these mean values are and describe if these are about the values you were expecting. 

Hints: using `enumerate()` function could be helpful. Also remember that the values in the `sex` list and the `earned_income` are in the same order; i.e., `sex[0]` and `earned_incomes[0]` are the sex and earned income values for the first person in the dataset, etc.

In [ ]:
# get a list with people's earned income. 
# Note, this list does not contain any missing values :) 
earned_incomes = acs_data1["INCEARN"].to_list()

**ANSWER**:

## Part 6: Explore your own question on the ACS data (6 points)
 
In part 1 of this homework you wrote down three interesting questions that could be addressed using the ACS dataset. Now, please use Python to (at least partially) answer one of the questions you posed.  

In the answer section below, describe the question you are addressing and how your analysis answers (or gives some insight) into the question. As always, be sure to "show your work" by printing out relevant values, and also make sure you code is easy to understand by using meaningful names and by adding comments. Also, discuss any limitations of your analysis and how they could be addressed.


Notes: 

1. To better understand the data, please refer to the codebooks in "Data and the American Dream" the more comprehensive codebook found at: https://usa.ipums.org/usa/volii/codebooks.shtml. Also, note that sometimes the information in these cookbooks does not exactly correspond to the data we have, so if it is unclear what levels of particular variables mean, you can just say this when you describe your results. 

2. There is a lot of freedom to the degree that you challenge yourself here (and we will be relatively relaxed on the grading of this question). If you found the exercises above difficult, then you can address a simpler question (or partially address a question) with a simpler analysis. Conversely, if you found them easy try to challenge yourself! Soon we will learn easier methods to analyze this data which should allow you to more easily answer the questions you posed.

**ANSWERS**:

## 7. Reflection (3 points)

Please reflect on how the homework went by going to Canvas, going to the Quizzes link, and clicking on 
[Reflection on homework 1](https://yale.instructure.com/courses/84847/quizzes/58695)

## 8. Submission

Once you're finished running all cells, follow the instructions at the top of this notebook to save as a .pdf and then submit the  file through Gradescope.